<html>

<head></head>

<body>
  <ng-container>
    <div class="uk-width-1-1" [ngStyle]="{'display': 'flex', 'background-color':formDetail.background_color}">
      <div class="uk-width-1-1">
        <!-- Toolbar -->
        <mat-toolbar
          [ngStyle]="{'background-color':formDetail.background_color, 'position':'sticky', 'top': '0px', 'z-index': '999'}">
          <a routerLink="/dashboard">
            <img src="../../../assets/FOR FE/Logo.png" alt="" class="uk-margin-medium-left"
              style="width: 3cm; padding-bottom: 20px; margin-top: 20px;">
          </a>
          <a href="/form-list" class="uk-margin-top"
            style="color: black; display: flex; font-size: 12px; margin-left: 60px;">
            <div style="margin-top: 3px;">
              <mat-icon>fast_rewind</mat-icon>
            </div>
            <span>Kembali</span>
          </a>
          <div class="uk-margin-small-top header-text">
            <a [routerLink]="['/form-detail/',formDetail.id]"
              style="color:black; font-size: 12px; margin-left: 150%;">Kuesioner Saya</a>
            <span style="margin-left:30px; margin-right: 30px;">||</span>
            <a style="color:black; font-size: 12px;" [routerLink]="['/form-response/',formDetail.id]"><b>Respons</b></a>

          </div>
          <div class="uk-width-expand"></div>

          <a class="uk-margin-top" href="#delete-form" uk-toggle
            style="color: black; display: flex; font-size: 12px;  margin-right: 50px;">
            <div style="margin-top: 0px;">
              <mat-icon>delete_forever</mat-icon>
            </div>
          </a>

          <div id="delete-form" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
              <div class="uk-text-center" style="color: black;">
                <p>Apa kamu yakin akan menghapus kuesioner?</p>
              </div>
              <div class="uk-text-center">
                <button mat-flat-button class="uk-modal-close" type="button" style=" color: black;">Batal</button>
                <button mat-flat-button class="uk-modal-close" type="button" style="background-color: red; color:white"
                  uk-toggle (click)="deleteForm()">
                  Hapus
                </button>
              </div>
            </div>
          </div>

          <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
          <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
            <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
          </button>
          <mat-menu #username="matMenu">
            <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
            <button mat-menu-item (click)="logout()">Keluar</button>
          </mat-menu>
        </mat-toolbar>

        <!-- title -->
        <div class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
          <div class="uk-width-2-3" style="margin-left:200px;" id="title1">
            <div class="uk-card uk-card-default uk-margin-top uk-margin-bottom"
              style="background-color: white; border-radius: 15px;">
              <div class="uk-card-body" uk-grid>
                <div class="uk-width-1-2">
                  <h2 class="uk-margin-left uk-margin-small-top">{{formResponses.length}} Respons</h2>
                  <mat-slide-toggle class="del-slide uk-margin-left uk-margin-small-bottom"
                    [checked]="formDetail.deleted_at" (change)="onChangeSlide ($event)">
                  </mat-slide-toggle>
                  <span class="uk-margin-small-left" style="font-size: 16px; color:black; margin-bottom: 5px;">Berhenti
                    Menerima
                    Respons</span>
                </div>

                <div class="uk-width-expand"></div>

                <a mat-stroked-button
                  style="margin-top:27px; height: 40px; margin-right: 30px; border-color: black; color: #000;"
                  [href]=" downloadLink">Download
                  Respons</a>
              </div>
            </div>
          </div>
        </div>

        <!-- End title -->

        <div *ngFor="let item of formDetail.form_inputs"
          class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
          <div>
            <div class="uk-width-1-1" style="margin-left:200px;" id="shortAns">
              <div class="uk-card uk-card-default uk-margin-top" style="background-color: white; border-radius: 15px;">
                <div class="uk-card-body" uk-grid>
                  <p class="uk-margin-large-right uk-margin-top" style="margin-left:30px; padding-bottom: 30px;">
                    {{item.question}}
                  </p>

                </div>

                <div style="height:150px;overflow-y: scroll;">
                  <div *ngFor="let value of filterResponse(item.key); let idx=index;" uk-grid>
                    <p style="margin-left:30px; margin-bottom: -40px;">
                      {{idx+1}}. <a target="_blank" *ngIf="isUrl(value)" href="{{value}}">{{value}}</a>
                      <span *ngIf="!isUrl(value)">{{value}}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="margin-top: 30px; visibility: hidden;">a</div>
      </div>
    </div>
  </ng-container>
</body>

</html>