<html>

<head>
</head>

<body>
    <ng-container>
        <div class="uk-width-1-1" style="display: flex;">
            <!-- sidenav -->
            <div class="uk-width-1-4@l uk-width-1-3@m uk-width-2-3@s" style="background-color: #fff8e1;">
                <mat-sidenav #sidenav mode="side" [position]="'start'" opened class="sidenav-left"
                    [fixedInViewport]="true" [fixedTopGap]="60" [fixedBottomGap]="0">

                    <mat-nav-list>
                        <img src="../../../assets/FOR FE/Logo.png" alt="" style="width: 3cm; padding-bottom: 20px;">
                        <!-- <div class="uk-width-expand"></div> -->
                        <a mat-list-item routerLink="/dashboard">
                            <mat-icon matListIcon class="uk-margin-medium-left">dashboard</mat-icon>
                            <h3 matLine style="margin-left:-90px; padding-top: 7px;">Beranda</h3>
                        </a> 
                        <a mat-list-item routerLink="/form-list">
                            <mat-icon matListIcon class="uk-margin-medium-left">description</mat-icon>
                            <h3 matLine style="margin-left:-70px; padding-top: 7px;">Form Saya</h3>
                        </a>
                        <a mat-list-item routerLink="/voucher-list">
                            <mat-icon matListIcon class="uk-margin-medium-left">redeem</mat-icon>
                            <h3 matLine style="margin-left:-70px; padding-top: 7px;">Tukar Koin</h3>
                        </a>
                        <a mat-list-item routerLink="/faq" style="background-color: #fdc400;">
                            <mat-icon matListIcon class="uk-margin-medium-left">question_answer</mat-icon>
                            <h3 matLine style="margin-left:-110px; padding-top: 7px;">FAQ</h3>
                        </a>
                        <img src="../../../assets/home/pict1-home.png" style="width: 200px; margin-top: 30px;" alt="">
                    </mat-nav-list>
                </mat-sidenav>
            </div>
            <!-- End sidenav -->

            <div class="uk-width-1-1" style="background-color: white;">
                <!-- Toolbar -->
                <mat-toolbar style="background-color:white; position: sticky; top: 0px; z-index: 999;">
                    <div class="uk-width-expand"></div>
                    <div class="uk-width-expand"></div>
                    <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
                    <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
                        <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
                    </button>
                    <mat-menu #username="matMenu">
                        <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
                        <button mat-menu-item (click)="logout()">Keluar</button>
                    </mat-menu>
                </mat-toolbar>
                <!-- End Toolbar -->


                <!-- Content -->
                <div uk-grid data-uk-grid-margin>
                    <div class="uk-width-1-2@s uk-width-5-6@m">
                        <h1 class="uk-margin-medium-left uk-margin-medium-top">
                            FAQ
                        </h1>

                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1* uk-margin-left" uk-grid>
                            <div>
                                <div class=" uk-card uk-card-default uk-width-1-1 uk-margin-small-left"
                                    style="border-color: black; border-style:solid; border-width: 1px; border-radius: 10px;">
                                    <h2 class="uk-card-title uk-margin-left uk-margin-small-top">Apa itu BuddyQu?</h2>
                                    <p class="uk-margin-left" style="color: black;">BuddyQu adalah sebuah platform
                                        berbagi kuesioner, dimana pengguna dapat membuat, membagikan, serta mengisi
                                        kuesioner.</p>
                                </div>
                            </div>

                            <div>
                                <div class=" uk-card uk-card-default uk-width-1-1 uk-margin-small-left"
                                    style="border-color: black; border-style:solid; border-width: 1px; border-radius: 10px;">
                                    <h2 class="uk-card-title uk-margin-left uk-margin-small-top">Bagaimana cara
                                        mendapatkan koin?</h2>
                                    <p class="uk-margin-left" style="color: black;">
                                        Kamu akan mendapatkan koin apabila mengisi kuesioner yang terdapat pada beranda
                                        kamu hingga selesai. Jumlah koin yag didapatkan tergantung pada kuesioner yang
                                        kamu isi.
                                    </p>
                                </div>
                            </div>

                            <div>
                                <div class=" uk-card uk-card-default uk-width-1-1 uk-margin-small-left"
                                    style="border-color: black; border-style:solid; border-width: 1px; border-radius: 10px;">
                                    <h2 class="uk-card-title uk-margin-left uk-margin-small-top">Bagaimana cara
                                        menukarkan koin?</h2>
                                    <p class="uk-margin-left" style="color: black;">
                                        Kamu dapat menukarkan koin mnejadi hadiah dengan membuka halaman "Tukar Koin".
                                        Pastikan kamu sudah memiliki koin yang cukup sebelum menukarkan koin ke hadiah
                                        yang kamu inginkan.
                                    </p>
                                </div>
                            </div>

                            <div>
                                <div class=" uk-card uk-card-default uk-width-1-1 uk-margin-small-left"
                                    style="border-color: black; border-style:solid; border-width: 1px; border-radius: 10px;">
                                    <h2 class="uk-card-title uk-margin-left uk-margin-small-top">Bagaimana cara klaim
                                        hadiah?</h2>
                                    <p class="uk-margin-left" style="color: black;">
                                        Setelah menukarkan koin, kamu akan mendapat kode yang dapat digunakan untuk
                                        mengklaim hadiah di merchant tersebut. Kode klaim dapat kamu lihat kembali
                                        melalui halaman "Riwayat Penukaran" yang terdapat pada halaman "Tukar Koin".
                                    </p>
                                </div>
                            </div>

                            <div>
                                <div class=" uk-card uk-card-default uk-width-1-1 uk-margin-small-left"
                                    style="border-color: black; border-style:solid; border-width: 1px; border-radius: 10px;">
                                    <h2 class="uk-card-title uk-margin-left uk-margin-small-top">Apabila saya mengalami
                                        masalah, bagaimana cara mengatasinya?</h2>
                                    <p class="uk-margin-left" style="color: black;">
                                        Jika kamu memerlukan bantuan atau memiliki masalah selama menggunakan aplikasi
                                        BuddyQu, kamu dapat menghubungi email kami di buddyqu@gmail.com
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="uk-width-1-2@s uk-width-1-6@m">
                        <div class="tot-koin">
                            Total koin
                        </div>

                        <div class="uk-width-1-1">
                            <button mat-flat-button class="koin" routerLink="/redeem-coin">
                                <div class="uk-margin-small-top uk-margin-small-bottom ">
                                    <img src="../../../assets/home/coin.png" style="width: 21px;" alt="">
                                    {{WalletBalance}}
                                </div>
                            </button>
                        </div> 

                        <button mat-flat-button class="buat-form" routerLink="/create-form">
                            <mat-icon style="margin-bottom: 4px;">add</mat-icon>
                            Buat Form
                        </button>

                        <div class="uk-width-1-1">
                            <mat-card class="uk-margin-small-right uk-margin-top" style="background-color: #FFF6E9; width: 65%;">
                              <h3 style="text-align: center;"> <b>Top Hadiah</b> Bulan Ini</h3>
              
                              <div style="text-align: center;">
                                <img src="../../../assets/home/gift-pict.png" style="width: 50px; margin-top:-15px;" alt="">
                              </div>
              
                              <mat-list style="margin-left: -15px; margin-top: 10px;">
                                <mat-list-item style="margin-bottom: 10px;">
                                  <img style="width: 30px;" src="../../../assets/home/shopee-logo.png" alt="">
                                  <div style="font-size: 12px; margin-left: 10px;">Voucher Cashback 15%</div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
              
                                <mat-list-item style="padding-top: 10px; margin-bottom: 10px;">
                                  <img style="width: 30px;" src="../../../assets/home/gopay-logo.png" alt="">
                                  <div style="font-size: 12px; margin-left: 10px;">Saldo 10 ribu</div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
              
                                <mat-list-item style="padding-top: 10px; margin-bottom: 10px;">
                                  <img style="width: 30px;" src="../../../assets/home/webtoon-logo.png" alt="">
                                  <div style="font-size: 12px; margin-left: 10px;">50 koin</div>
                                </mat-list-item>
                              </mat-list>
              
                              <div style="text-align: center; font-size: 12px; color: grey; margin-top: 5px;">Ayo isi kuesioner dan
                                dapatkan hadiahnya</div>
                              <div style="text-align: center;">
                                <button class="hadiah" routerLink="/voucher-list" mat-flat-button>Aku Mau Hadiah!</button>
                              </div>
              
                            </mat-card>
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>

        </div>

        <!-- Footer -->
        <mat-toolbar class="faq-footer uk-margin-large-top">
            <div class="uk-width-1-3@s">
                <img src="../../assets/FOR FE/Logo.png" style="width: 4cm; margin-left: 30px;" alt="">
            </div>
            <div class="uk-width-1-3@s uk-margin-left">
                <div class="uk-text-center">
                    <div class="">
                        Social Media
                    </div>
                </div>

                <div class="uk-text-center">
                    <img src="../../assets/FOR FE/footer/twit-logo.png" class="socmed-logo" alt="">
                    <img src="../../assets/FOR FE/footer/fb-logo(2).png" class="socmed-logo" alt="">
                    <img src="../../assets/FOR FE/footer/ig-logo.png" class="socmed-logo" alt="">
                </div>
                <div class="uk-text-center">
                    Copyright© 2020 BuddyQu. All Right Reserved
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <div class="uk-text-center">
                    Hubungi kami di
                </div>
                <div class="uk-text-center">
                    hello@buddyQu.id
                </div>
            </div>
        </mat-toolbar>
        <!-- End Footer -->
    </ng-container>
</body>

</html>