body {
    background-color: #fff8e1;
}

.login-header{
    background-color: #fff8e1;
    padding-top: 40px;
    padding-bottom: 55px;
    font-size: 20px;
}

.beranda{
    color: black;
    background-color: #fff8e1;
}

.beranda:hover{
    color: #fdc400;
}

.masuk{
    color: #fdc400;
    background-color: #fff8e1;
}

.daftar{
    padding: 0 23px;
}

.daftar:hover{
    background-color: #fdc400;
    border-color: #fff8e1;
}

.image {
    width: 100%;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 0px;
}

.sentence {
    color: black;
    font-size: 1.2vw;
}

@media (max-width:1600px) {
    .login-form {
        // font-size:18pt;
        height:50px;
        width:330px;
        margin-left: 0px;
        margin-top: 15px;
        border-style: hidden;
    }
} 

@media (max-width:960px) {
    .login-form {
        // font-size:18pt;
        height:50px;
        width:300px;
        margin-left: 0px;
        margin-top: 15px;
        border-style: hidden;
    }
} 

@media (max-width:640px) {
    .login-form {
        // font-size:18pt;
        height:50px;
        width:300px;
        margin-left: 0px;
        margin-top: 15px;
        border-style: hidden;
    }
} 

@media(max-width:1600px) {
    .login-button {
        // font-size:18pt;
        background-color: #fdc400;
        height:50px;
        width:330px;
        margin-left: 0px;
        margin-top: 35px;
    }
}

@media(max-width:960px) {
    .login-button {
        // font-size:18pt;
        background-color: #fdc400;
        height:50px;
        width:300px;
        margin-left: 0px;
        margin-top: 35px;
    }
}

@media(max-width:640px) {
    .login-button {
        // font-size:18pt;
        background-color: #fdc400;
        height:50px;
        width:300px;
        margin-left: 0px;
        margin-top: 35px;
    }
}

@media(max-width:640px) {
    .image {
        width: 0;
    }
}


@media(max-width:960px) {
    .sentence {
        font-size:13pt;
    }
}

@media(max-width:640px) {
    .sentence {
        font-size:12pt;
    }
}