<html>

<head></head>

<body>
    <ng-container>
        <div class="uk-width-1-1" style="display: flex;">
            <!-- sidenav -->
            <div class="uk-width-1-4@l uk-width-1-3@m uk-width-2-3@s" style="background-color: #fff8e1;">
                <mat-sidenav #sidenav mode="side" [position]="'start'" opened class="sidenav-left"
                    [fixedInViewport]="true" [fixedTopGap]="60" [fixedBottomGap]="0">

                    <mat-nav-list>
                        <a routerLink="/dashboard">
                            <img src="../../../assets/FOR FE/Logo.png" alt="" style="width: 3cm; padding-bottom: 20px;">
                        </a>
                        <!-- <div class="uk-width-expand"></div> -->
                        <mat-list-item routerLink="/dashboard">
                            <mat-icon matListIcon class="uk-margin-medium-left">dashboard</mat-icon>
                            <h3 matLine style="margin-left:-70px; padding-top: 7px;">Beranda</h3>
                        </mat-list-item>
                        <mat-list-item routerLink="/my-form" style="background-color: #fdc400;">
                            <mat-icon matListIcon class="uk-margin-medium-left">description</mat-icon>
                            <h3 matLine style="margin-left:-50px; padding-top: 7px;">Form Saya</h3>
                        </mat-list-item>
                        <mat-list-item routerLink="/voucher-list">
                            <mat-icon matListIcon class="uk-margin-medium-left">redeem</mat-icon>
                            <h3 matLine style="margin-left:-50px; padding-top: 7px;">Tukar Koin</h3>
                        </mat-list-item>
                        <mat-list-item routerLink="/faq">
                            <mat-icon matListIcon class="uk-margin-medium-left">question_answer</mat-icon>
                            <h3 matLine style="margin-left:-95px; padding-top: 7px;">FAQ</h3>
                        </mat-list-item>
                        <img src="../../../assets/home/pict1-home.png" style="width: 200px; margin-top: 30px;" alt="">
                    </mat-nav-list>
                </mat-sidenav>
            </div>
            <!-- End sidenav -->


            <div class="uk-width-1-1">
                <!-- Toolbar -->
                <mat-toolbar style="background-color:white;">
                    <div class="uk-width-expand"></div>
                    <div class="uk-width-expand"></div>
                    <img src="../../../assets/Twice/nayeon.jpg" style="width: 30px" alt="">
                    <button mat-button class="uk-margin-medium-right"
                        [matMenuTriggerFor]="username">{{user.name}}</button>
                    <mat-menu #username="matMenu">
                        <button mat-menu-item routerLink="/view-profile">Profile</button>
                        <button mat-menu-item routerLink="/login">Logout</button>
                    </mat-menu>
                </mat-toolbar>
                <!-- End Toolbar -->

                <div class="bg-mf">
                    <div class="create-form">
                        <div>Belum ada buat form nih,</div>
                        <div>Yuk mulai buat form mu!</div>
                        <button class="add-button" mat-flat-button routerLink="/create-form">
                            <mat-icon>add</mat-icon>
                            <span>Buat Form</span>
                        </button>
                    </div>
                    <img class="image" src="../../../assets/form-saya/form-saya/form-kosong.png" alt="">
                </div>
            </div>
        </div>
    </ng-container>
</body>

</html>