html {
    overflow:   scroll;
  }

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

mat-sidenav {
    background-color: #fff8e1;
    width: 20%;
    text-align: center;
}

.sidenav-icon {
    margin-left: 30px;
}

.sidenav-text {
    padding-left: -25px;
}

.bg-mf {
    position: relative;
}

.create-form{
    position: absolute;
    color: black;
    border: none;
    padding: 0;
    margin-top: 150px;
    margin-left: 60px;
}

.image {
    float: right;
    
}

.add-button {
    background-color: #fdc400;
    border-radius: 10px;
}

@media(max-width:1600px) {
    .create-form {
        font-size: 35px;
    }
    .image {
        width: 57%;
    }
}

@media(max-width:1200px) {
    .create-form {
        font-size: 30px;
    }
    .image {
        width: 57%;
    }
}

@media(max-width:960px) {
    .create-form {
        margin-top: 80px;
        font-size: 20px;
    }
    .image {
        width: 57%;
    }
}

@media(max-width:640px) {
    .create-form {
        margin-top: 80px;
        font-size: 15px;
    }
    .image {
        width: 0;
        
    }
}