body {
    background-color: #fff8e1;
}

.register-header{
    background-color: #fff8e1;
    padding-top: 40px;
    padding-bottom: 55px;
    font-size: 20px;
}

.beranda{
    color: black;
    background-color: #fff8e1;
}

.beranda:hover{
    color: #fdc400;
}

.masuk{
    color: black;
    background-color: #fff8e1;
}

.masuk:hover {
    color: #fdc400;
}

.daftar{
    padding: 0 23px;
    color: #000000;
    background-color: #fdc400;
    border-color: #fff8e1;
}

.image {
    width: 100%;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 0px;
}

@media (max-width:1600px) {
    .register-form {
        height:50px;
        width:350px;
        margin-left: 0px;
        margin-top: 15px;
        border-style: hidden;
    }
} 

@media (max-width:960px) {
    .register-form {
        // font-size:18pt;
        height:50px;
        width:300px;
        margin-left: 0px;
        margin-top: 15px;
        border-style: hidden;
    }
} 

@media (max-width:640px) {
    .register-form {
        // font-size:18pt;
        height:50px;
        width:280px;
        margin-left: 0px;
        margin-top: 15px;
        border-style: hidden;
    }
} 

@media (max-width:640px) {
    .register-header {
        padding-bottom: 0;
    }
} 

@media(max-width:1600px) {
    .register-button {
        // font-size:18pt;
        background-color: #fdc400;
        height:50px;
        width:350px;
        margin-left: 0px;
        margin-top: 35px;
    }
}

@media(max-width:960px) {
    .register-button {
        // font-size:18pt;
        background-color: #fdc400;
        height:50px;
        width:300px;
        margin-left: 0px;
        margin-top: 35px;
    }
}

@media(max-width:640px) {
    .register-button {
        // font-size:18pt;
        background-color: #fdc400;
        height:50px;
        width:280px;
        margin-left: 0px;
        margin-top: 35px;
    }
}

@media(max-width:640px) {
    .image {
        width: 0;
    }
}

.sentence {
    color: black;
    font-size: 1.2vw;
    padding-bottom: 30px;
}


@media(max-width:960px) {
    .sentence {
        font-size:13pt;
    }
}

@media(max-width:640px) {
    .sentence {
        font-size:12pt;
    }
}