<html>

<head></head>

<body>
  <ng-container>
    <div class="uk-width-1-1" [ngStyle]="{'display': 'flex', 'background-color':formDetail.background_color}">
      <div class="uk-width-1-1">
        <!-- Toolbar -->
        <mat-toolbar [ngStyle]="{'background-color':formDetail.background_color}">
          <a class="uk-margin-left uk-margin-top" routerLink="/dashboard">
            <img src="../../../assets/FOR FE/Logo.png" alt=""
              style="width: 3cm; padding-bottom: 20px; margin-right: 500px;">
          </a>
          <div>
            <a href="/dashboard" class="uk-margin-small-top" style="color: black; display: flex; font-size: 12px;">
              <div style="margin-top: 3px;">
                <mat-icon>fast_rewind</mat-icon>
              </div>
              <span>Kembali</span>
            </a>
          </div>
          <div class="uk-width-expand"></div>

          <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
          <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
            <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
          </button>
          <mat-menu #username="matMenu">
            <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
            <button mat-menu-item (click)="logout()">Keluar</button>
          </mat-menu>
        </mat-toolbar>
        <!-- End Toolbar -->

        <!-- Header Photo -->
        <div class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
          <div class="uk-width-2-3" style="margin-left:200px;" id="header-photo">
            <img class="uk-margin-top" src="{{formDetail.image_url}}" alt="">
          </div>
        </div>
        <!-- End Header Photo -->

        <!-- title -->
        <div class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
          <div class="uk-width-2-3" style="margin-left:200px;" id="title1">
            <div class="uk-card uk-card-default uk-margin-top uk-margin-bottom"
              style="background-color: white; border-radius: 15px;">
              <div class="uk-card-body" uk-grid>
                <h1 class="uk-margin-large-right uk-margin-top uk-width-1-1" style="margin-left:30px; font-size: 26px;">
                  {{formDetail.title}}
                </h1>
                <p class="uk-margin-large-right uk-margin-bottom" style="margin-left:30px; margin-top: -1px;">
                  {{formDetail.description}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- End title -->

        <div *ngIf="loading == true">
          <img src="../../../assets/nayeon.jpg" alt="">
        </div>
        <form #f="ngForm" (ngSubmit)="submitForm(f)">

          <div *ngFor="let item of formDetail.form_inputs"
            class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
            <div>
              <div class="uk-width-2-3" style="margin-left:200px;" id="shortAns">
                <div class="uk-card uk-card-default uk-margin-top"
                  style="background-color: white; border-radius: 15px;">
                  <div class="uk-card-body" uk-grid>
                    <p class="uk-margin-large-right uk-margin-top" style="margin-left:30px;">
                      {{item.question}}<span *ngIf="item.required == true" style="color: red;">*</span>
                    </p>

                    <!-- text -->
                    <mat-form-field *ngIf="item.input_type == 'text'" class="uk-width-1-1 uk-margin-large-right"
                      appearance="legacy" style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                      <input [required]="item.required ? 'true' : 'false'" ngModel name="{{item.key}}" matInput
                        placeholder="Jawaban Singkat">
                    </mat-form-field>

                    <!-- select -->
                    <div *ngIf="item.input_type == 'select'" class="uk-width-1-1"
                      style="margin-left: 30px; margin-top: 15px;">
                      <select [required]="item.required ? 'true' : 'false'" ngModel name="{{item.key}}"
                        class="uk-select uk-width-1-2" style="margin-top:-10px; margin-bottom: 20px;">
                        <option *ngFor="let opt of item.option">
                          {{opt}}
                        </option>
                      </select>
                    </div>

                    <!-- checkbox -->
                    <div *ngIf="item.input_type == 'checkbox'" class="uk-width-1-1" style="margin-top: 10px;">
                      <div *ngFor="let opt of item.option; let i = index" class="uk-width-1-1 uk-margin-small-bottom"
                        style="margin-top: 10px;">
                        <label><input [(ngModel)]="opt.selected" name="cb-{{opt}}"
                            (change)="onChangeCheckbox(item.key, opt)" class="uk-checkbox" type="checkbox"
                            style="margin-left: 30px;"></label>
                        <span class="uk-margin-left" style="color: black;">{{opt}}</span>
                      </div>
                    </div>

                    <!-- radio -->
                    <div *ngIf=" item.input_type=='radio'" class=" uk-width-1-1" style="margin-top: 10px;">
                      <div *ngFor="let opt of item.option" class="uk-margin-small-bottom">
                        <label><input [required]="item.required ? 'true' : 'false'" class="uk-radio" type="radio"
                            ngModel value="{{opt}}" name="{{item.key}}" style="margin-left: 30px;"></label>
                        <span class="uk-margin-left" style="color: black;">{{opt}}</span>
                      </div>
                    </div>

                    <!-- time -->
                    <div *ngIf="item.input_type == 'time'" class="uk-width-1-1"
                      style="margin-top: -10px; margin-left: 20px;">
                      <mat-form-field class="uk-width-1-3" appearance="legacy"
                        style="margin-left: 10px; margin-top: 0px; margin-bottom: 3px;">
                        <div style="display: flex; color: gray; margin-top: -10px;">
                          <input [required]="item.required ? 'true' : 'false'" matInput ngModel name="{{item.key}}"
                            type="time">
                        </div>
                      </mat-form-field>
                    </div>

                    <!-- date -->
                    <div *ngIf="item.input_type == 'date'" class="uk-width-1-1"
                      style="margin-top: -10px; margin-left: 20px;">
                      <mat-form-field class="uk-width-1-3" appearance="legacy"
                        style="margin-left: 10px; margin-top: 0px; margin-bottom: 3px;">
                        <div style="display: flex; color: gray; margin-top: -10px;">
                          <input [required]="item.required ? 'true' : 'false'" matInput ngModel name="{{item.key}}"
                            type="date">
                        </div>
                      </mat-form-field>
                    </div>

                    <div *ngIf="item.input_type == 'file'" class="uk-width-1-2 uk-margin-bottom"
                    style="margin-top: 0px; margin-left: 30px;">
                    <div uk-form-custom="target: true" style="margin-left:0px;">
                      <!-- <input type="file"> -->
                      <input (change)="fileChange($event,item.key)" type="file" [required]="item.required ? 'true' : 'false'"  ngModel name="{{item.key}}">
                      <input 
                          class="uk-input uk-form-width-medium" type="text" placeholder="Tambah File"
                          style="text-align: center; margin-top: 15px; background-color:white; border: 1px solid; border-radius: 10px;">
                      </div>
                    </div>

                    <div *ngIf="item.input_type == 'scale'" class="uk-width-1-1 uk-margin-small-top uk-margin-bottom">
                      <div style="margin-left: 79px;">
                        <label for="" style="margin-left: -28px; margin-right: 16px; visibility: hidden;">{{item.option[1]}}</label>
                        <div style="display: inline; margin-left: 23px;" 
                         *ngFor="let opt of generateArray(item.option[0]); let idx=index">
                        {{idx+1}}
                        </div>
                      </div>
                      <div style="margin-top: 10px;">
                        <label for="" style="margin-left:50px; margin-right: 20px;">{{item.option[1]}}</label>
                        <label *ngFor="let opt of generateArray(item.option[0]); let idx=index">
                          <input [required]="item.required ? 'true' : 'false'" 
                          class="uk-radio" type="radio" ngModel value="{{opt}}" name="{{item.key}}" style="margin-left: 20px;">
                        </label>
                    
                        <label for="" style="margin-left:50px;">{{item.option[2]}}</label>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Send Button -->
          <div class="uk-width-2-3" style="margin-left:240px;">
            <div class="uk-flex uk-flex-center">
              <button class="uk-width-1-1 send" mat-flat-button>Kirim
                Jawaban</button>
            </div>
          </div>
          <!-- End Send Button -->
        </form>
      </div>
    </div>
  </ng-container>
</body>

</html>