html {
    overflow:   scroll;
  }

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.header-text {
    color: black;
    margin-left: 400px
}

.send {
    margin-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-right: 70px;
    margin-bottom: 50px;
    border-radius: 50px;
}

@media(max-width:1600px) {
    .header-text {
        font-size: medium;
    }
}

@media(max-width:640px) {
    .header-text {
        font-size: small;
    }
}