<!-- Jika user sudah pernah membuat form -->

<html>

<head></head>

<body>
  <ng-container>
    <div class="uk-width-1-1" style="display: flex;">
      <!-- Toolbar -->
      <div class="uk-width-1-1" style="background-color: white;">
        <mat-toolbar style="background-color:white;">
          <a class="uk-margin-top uk-margin-medium-left" routerLink="/dashboard">
            <img src="../../../assets/FOR FE/Logo.png" alt="" style="width: 3cm; padding-bottom: 20px;">
          </a>
          <div class="uk-width-expand"></div>
          <mat-icon>face</mat-icon>
          <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">Admin</button>
          <mat-menu #username="matMenu">
            <button mat-menu-item routerLink="/profile">Profile</button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </mat-toolbar>
        <!-- End Toolbar -->

        <div>
          <div class="uk-margin-top uk-text-center">
            <button mat-flat-button routerLink="/add-voucher"
              style="background-color:seagreen; color: white; width:160px">
              Tambah Hadiah
            </button>
          </div>

          <div *ngFor="let item of voucherData" class="uk-width-1-2 uk-margin-medium-top" style="margin-left: 330px;">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-4 uk-margin uk-margin-left" uk-grid
              style="background-color: white; height: 150px;">
              <div class="uk-card-media-left uk-cover-container">
                <img src="{{item.image_url}}" alt="" uk-cover>
              </div>
              <div class="uk-width-3-4">
                <div class="uk-card-body">
                  <h3 class="uk-card-title" style="margin-top: -30px;">{{item.name}}</h3>
                  <p style="margin-top: -10px;">
                    <img src="../../../assets/home/coin.png" alt="" style="width: 20px;">
                    <span style="color: #fdc400; margin-left: 10px;">{{item.price}}</span>
                  </p>
                  <div style="padding-top: 10px; position: absolute; bottom: 0px; margin-bottom: 20px; display: flex;">
                    <div style="display: flex;">
                      <button mat-flat-button [routerLink]="['/edit-voucher/',item.id]"
                        style="background-color:dodgerblue; color: white; margin-right: 100px; width: 80px;">Edit</button>
                      <a mat-flat-button href="#delete-voucher"
                        style="background-color:darkred; color: white; width: 80px;" (click)="selectVoucher(item)"
                        uk-toggle>Hapus</a>
                    </div>
                    <div id="delete-voucher" class="uk-flex-top" uk-modal>
                      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                        <div class="uk-text-center" style="color: black;">
                          <p>Apa kamu yakin ingin menghapus voucher ini?</p>
                        </div>
                        <div class="uk-text-center">
                          <button mat-flat-button class="uk-modal-close" type="button">Batal</button>
                          <button (click)="deleteVoucher()" mat-flat-button class="uk-modal-close" href="#voucher-code"
                            type="button" style="background-color: darkred; color: white;">
                            Hapus
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</body>

</html>