<html>

<head></head>

<body>
  <ng-container>
    <div *ngIf="isDesign" class="uk-width-1-1" style="display: flex; background-color: #d9f5f9;">
      <!-- sidenav -->
      <div class="uk-width-1-4@l uk-width-1-3@m uk-width-2-3@s" style="background-color: #ffffff;">
        <mat-sidenav #sidenav mode="side" [position]="'start'" opened class="sidenav-left" [fixedInViewport]="true"
          [fixedTopGap]="60" [fixedBottomGap]="0">

          <mat-nav-list>
            <a routerLink="/dashboard">
              <img src="../../../assets/FOR FE/Logo.png" alt="" style="width: 3cm; padding-bottom: 20px;">
            </a>
            <mat-list-item (click)="addNewItem('text')">
              <img class="sidenav-icon" src="../../../../assets/form-saya/form-saya/icon1-jawabsingkat.png" alt="">
              <span class="sidenav-text">Jawaban Singkat</span>
            </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item (click)="addNewItem('radio')">
              <img class="sidenav-icon" src="../../../../assets/form-saya/form-saya/icon3-pilgan.png" alt="">
              <span class="sidenav-text">Pilihan Ganda</span>
            </mat-list-item>
            <mat-list-item (click)="addNewItem('checkbox')">
              <img class="sidenav-icon" src="../../../../assets/form-saya/form-saya/icon4-kotakcentang.png" alt="">
              <span class="sidenav-text">Kotak Centang</span>
            </mat-list-item>
            <mat-list-item (click)="addNewItem('select')">
              <img class="sidenav-icon" src="../../../../assets/form-saya/form-saya/icon5-dropdown.png" alt="">
              <span class="sidenav-text">Dropdown</span>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item (click)="addNewItem('file')">
              <img class="sidenav-icon" src="../../../../assets/form-saya/form-saya/icon6-upfile.png" alt="">
              <span class="sidenav-text">Upload File</span>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item (click)="addNewItem('scale')">
              <img class="sidenav-icon" src="../../../../assets/form-saya/form-saya/icon7-skalalinnier.png" alt="">
              <span class="sidenav-text">Skala Linier</span>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item (click)="addNewItem('date')">
              <img class="sidenav-icon" src="../../../../assets/form-saya/form-saya/icon10-tanggal.png" alt="">
              <span class="sidenav-text">Tanggal</span>
            </mat-list-item>
            <mat-list-item (click)="addNewItem('time')">
              <img class="sidenav-icon" src="../../../../assets/form-saya/form-saya/icon11-waktu.png" alt="">
              <span class="sidenav-text">Waktu</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-sidenav>
      </div>
      <!-- End sidenav -->

      <div class="uk-width-1-1">
        <!-- Toolbar -->
        <mat-toolbar style="background-color:#d9f5f9; position: sticky; top: 0px; z-index: 999;">
          <a href="/form-list" class="uk-margin-left uk-margin-top"
            style="color: black; display: flex; font-size: 12px;">
            <div style="margin-top: 3px;">
              <mat-icon>fast_rewind</mat-icon>
            </div>
            <span>Kembali</span>
          </a>
          <div class="uk-margin-small-top header-text">
            <a routerLink="/create-form" style="color:black; font-size: 12px;">Desain Kuesioner</a>
          </div>
          <div class="uk-width-expand"></div>

          <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
          <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
            <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
          </button>
          <mat-menu #username="matMenu">
            <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
            <button mat-menu-item (click)="logout()">Keluar</button>
          </mat-menu>
        </mat-toolbar>
        <!-- End Toolbar -->



        <!-- title -->
        <div class="uk-grid-small uk-child-width-1-1* uk-margin-left uk-margin-large-right" uk-grid>

          <form #f="ngForm" (ngSubmit)="goToPreview(f)">

            <div class="uk-width-1-1 uk-margin-left uk-margin-large-right">
              <div class="uk-width-2-3 uk-align-center" id="header-photo">
                <img class="uk-margin-top" src="{{imageUrl}}" alt="">
              </div>
            </div>

            <div class="uk-margin" uk-margin>
              <div uk-form-custom="target: true" class="uk-margin-small-top">
                <input (change)="fileChange($event)" type="file" accept=".jpg,.png">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Upload Gambar Header"
                  style="text-align: center; background-color: white; color:black;">
              </div>
            </div>

            <div class="uk-card uk-card-default uk-margin-small-top"
              style="background-color: white; border-radius: 15px;">
              <div class="uk-card-body" uk-grid>
                <input ngModel name='title' class="uk-input uk-width-1-2 uk-margin-large-left uk-margin-large-right"
                  type="text" placeholder="Judul bagian 1"
                  style="background-color: lightgray; color: black; margin-top: 25px;">

                <mat-form-field class="uk-width-1-1 uk-margin-large-right" appearance="legacy"
                  style="margin-left: 30px; margin-top: 10px; margin-bottom: 3px;">
                  <input ngModel name='description' matInput placeholder="Tulis Deskripsi">
                </mat-form-field>

                <mat-form-field class="uk-width-1-4 uk-margin-large-right" appearance="legacy"
                  style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                  <input [ngModel]="defaultColor" name='background_color' matInput placeholder="Background color"
                    type="color">
                </mat-form-field>

              </div>
            </div>
          </form>
        </div>

        <!-- End title -->

        <!-- form items -->
        <div *ngFor="let item of formInputs; let idx=index;"
          class="uk-grid-small uk-child-width-1-1* uk-margin-left uk-margin-large-right" uk-grid>
          <div id="shortAns">
            <div class="uk-card uk-card-default uk-margin-top" style="background-color: white; border-radius: 15px;">

              <div class="uk-card-body" uk-grid>
                <input value="{{item.question}}" (change)="onChangeQuestion($event,idx)"
                  class="uk-input uk-width-1-2 uk-margin-large-left uk-margin-large-right" type="text"
                  placeholder="Pertanyaan" style="background-color: lightgray; color: black; margin-top: 25px;">
                <div class="option">

                  <a class="delete" (click)="onRemoveInput(idx)">
                    Hapus
                  </a>
                  <span class="required">Wajib diisi</span>
                  <a>
                    <mat-slide-toggle class="req-slide" [checked]="item.required"
                      (change)="onChangeRequired($event,idx)">
                    </mat-slide-toggle>
                  </a>
                </div>


                <!-- type text -->
                <mat-form-field *ngIf="item.input_type == 'text'" class="uk-width-1-2 uk-margin-large-right"
                  appearance="legacy" style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                  <input matInput placeholder="Jawaban Singkat">
                </mat-form-field>


                <!-- upload -->
                <div *ngIf="item.input_type == 'file'">
                  <button mat-stroked-button
                    style="margin-left: 40px; margin-top: -18px; background-color:white; border: 1px solid;">
                    Tambah File
                  </button>
                  <p style="color:white; margin-top: 10px;"> Upload file yang diperlukan</p>
                </div>

                <!-- radio -->
                <div *ngIf="item.input_type == 'radio'">
                  <p style="margin-left: 30px;">Radio Input</p>
                  <div *ngFor="let opt of item.option; let optionIdx=index;" class="uk-width-1-1"
                    style="margin-top: 0px;">
                    <mat-form-field class="uk-width-5-6" appearance="legacy"
                      style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                      <div style="display: flex;">
                        <input matInput readonly value="{{opt}}">
                        <mat-icon style="color:black; margin-left: 10px;" (click)="removeOption(idx, optionIdx)">close
                        </mat-icon>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="uk-width-1-1" style="margin-top: -20px;">
                    <mat-form-field appearance="legacy" style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                      <div style="display: flex;">
                        <input class="uk-width-2-3" [(ngModel)]="optionValue" #ctrlName="ngModel" matInput
                          placeholder="Tambah opsi">
                      </div>
                    </mat-form-field>
                    <button class="uk-width-1-3" mat-flat-button (click)="addOption(idx)"
                      style="background-color: white; color: black;">Tambah Opsi</button>
                  </div>
                </div>


                <!-- select -->
                <div *ngIf="item.input_type == 'select'">
                  <p style="margin-left:28px;"> Dropdown Input</p>

                  <div *ngFor="let opt of item.option; let optionIdx=index;" class="uk-width-1-1"
                    style="margin-top: 10px;">
                    <mat-form-field class="uk-width-5-6" appearance="legacy"
                      style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                      <div style="display: flex;">
                        <input matInput readonly value="{{opt}}">
                        <mat-icon style="color:black; margin-left: 10px;" (click)="removeOption(idx, optionIdx)">close
                        </mat-icon>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="uk-width-1-1" style="margin-top: -20px;">
                    <mat-form-field appearance="legacy" style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                      <div style="display: flex;">
                        <input [(ngModel)]="optionValue" #ctrlName="ngModel" matInput placeholder="Tambah opsi">
                      </div>
                    </mat-form-field>
                    <button class="uk-width-1-3" mat-flat-button (click)="addOption(idx)"
                      style="background-color: white; color: black;">Tambah Opsi</button>
                  </div>
                </div>

                <div *ngIf="item.input_type == 'checkbox'">
                  <p style="margin-left:28px;">Checkbox Input</p>

                  <div *ngFor="let opt of item.option; let optionIdx=index;" class="uk-width-1-1"
                    style="margin-top: 10px;">
                    <mat-form-field class="uk-width-5-6" appearance="legacy"
                      style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                      <div style="display: flex;">
                        <input matInput readonly value="{{opt}}">
                        <mat-icon style="color:black; margin-left: 10px;" (click)="removeOption(idx, optionIdx)">close
                        </mat-icon>
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="uk-width-1-1" style="margin-top: -20px;">
                    <mat-form-field appearance="legacy" style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                      <div style="display: flex;">
                        <input [(ngModel)]="optionValue" #ctrlName="ngModel" matInput placeholder="Tambah opsi">
                      </div>
                    </mat-form-field>
                    <button class="uk-width-1-3" mat-flat-button (click)="addOption(idx)"
                      style="background-color: white; color: black;">Tambah Opsi</button>
                  </div>
                </div>

                <div *ngIf="item.input_type == 'date'" class="uk-width-1-1"
                  style="margin-top: -10px; margin-left: 20px;">
                  <mat-form-field class="uk-width-1-6" appearance="legacy"
                    style="margin-left: 10px; margin-top: 0px; margin-bottom: 3px;">
                    <h3 style="margin-top: 10px;">Tanggal</h3>
                    <div style="display: flex; color: gray; margin-top: -10px;">
                      <input matInput type="date">
                    </div>
                  </mat-form-field>
                </div>

                <div *ngIf="item.input_type == 'time'" class="uk-width-1-1"
                  style="margin-top: -10px; margin-left: 20px;">
                  <mat-form-field class="uk-width-1-6" appearance="legacy"
                    style="margin-left: 10px; margin-top: 0px; margin-bottom: 3px;">
                    <h3 style="margin-top: 10px;">Waktu</h3>
                    <div style="display: flex; color: gray; margin-top: -10px;">
                      <input matInput type="time">
                    </div>
                  </mat-form-field>
                </div>

                <div *ngIf="item.input_type == 'scale'" class="uk-width-1-1"
                  style="margin-top: -10px; margin-left: 20px;">

                  <div class="uk-width-1-1" style="margin-top: 10px;">
                    <h3 style="margin-left: 30px; margin-top: 30px;">Skala Linier</h3>
                  </div>
                  <div class="uk-width-1-2" style="margin-top: -15px;">
                    <div class="uk-margin-top uk-grid-small uk-grid" style="margin-left: 15px;">
                      <span>1</span>
                      <span>sampai</span>
                      <select [(ngModel)]="scaleValue[idx][0]" class="uk-select uk-width-1-6 uk-margin-left"
                        style="margin-top:-1px; margin-bottom: 20px; height: 30px;">
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </div>
                  <div class="uk-width-1-1" style="margin-left: 30px; margin-top: 0px;">
                    <h3>Keterangan</h3>
                  </div>
                  <div class="uk-width-1-1" style="margin-top: -10px;">
                    <label style="margin-left: 30px;">Keterangan 1</label>
                    <mat-form-field class="uk-width-1-6" appearance="legacy"
                      style="margin-left: 10px; margin-top: 0px; margin-bottom: 3px;">
                      <div style="display: flex;">
                        <input [(ngModel)]="scaleValue[idx][1]" matInput placeholder="Keterangan">
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="uk-width-1-1" style="margin-top: -10px;">
                    <label style="margin-left: 30px;">Keterangan 2</label>
                    <mat-form-field class="uk-width-1-6" appearance="legacy"
                      style="margin-left: 10px; margin-top: 0px; margin-bottom: 3px;">
                      <div style="display: flex;">
                        <input [(ngModel)]="scaleValue[idx][2]" matInput placeholder="Keterangan">
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="uk-width-1-1" (click)="applyScale(idx)" style="margin-left: 30px; margin-top: 10px;">
                    <button mat-stroked-button style="margin-bottom: 30px; background-color:white; border: 1px solid;">
                      Terapkan Skala
                    </button>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <!-- End form items -->

        <!-- Preview Button -->
        <div class="uk-width-1-1">
          <div class="uk-flex uk-flex-center">
            <button (click)="f.ngSubmit.emit()" class="uk-width-1-1 preview" mat-flat-button>Lihat Preview
              Kuesioner</button>
          </div>
        </div>
        <!-- End Preview Button -->

      </div>
    </div>
    <!-- PREVIEW -->
    <div *ngIf="isPreview" class="uk-width-1-1"
      [ngStyle]="{'display': flex, 'background-color':formDetail.background_color}">

      <div class="uk-width-1-1" [ngStyle]="{'display': flex, 'background-color':formDetail.background_color}">
        <div class="uk-width-1-1">
          <!-- Toolbar -->
          <mat-toolbar
            [ngStyle]="{'background-color':formDetail.background_color, 'position':'sticky', 'top': '0px', 'z-index': '999'}">
            <a class="uk-margin-left uk-margin-top" routerLink="/dashboard">
              <img src="../../../assets/FOR FE/Logo.png" alt="" style="width: 3cm; padding-bottom: 20px;">
            </a>

            <div class="header-text" style="margin-left:85px;">
              <a (click)="backToDesign()" style="color:black; font-size: 12px;">Desain Kuesioner </a>
              <a style="color:black; font-size: 12px;">> preview</a>

            </div>
            <div class="uk-width-expand"></div>

            <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
            <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
              <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
            </button>
            <mat-menu #username="matMenu">
              <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
              <button mat-menu-item (click)="logout()">Keluar</button>
            </mat-menu>
          </mat-toolbar>
          <!-- End Toolbar -->

          <!-- Header Photo -->
          <div class="uk-width-1-1 uk-margin-left uk-margin-large-right">
            <div class="uk-width-2-3 uk-align-center" id="header-photo">
              <img class="uk-margin-top" src="{{imageUrl}}" alt="">
            </div>
          </div>
          <!-- End Header Photo -->

          <!-- title -->
          <div class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
            <div class="uk-width-2-3" style="margin-left:220px;" id="title1">
              <div class="uk-card uk-card-default uk-margin-top" style="background-color: white; border-radius: 15px;">
                <div class="uk-card-body" uk-grid>
                  <h1 class="uk-margin-large-right uk-margin-top uk-width-1-1" style="margin-left:30px;">
                    {{formDetail.title}}
                  </h1>
                  <p class="uk-margin-large-right uk-margin-bottom" style="margin-left:30px; margin-top: -2px;">
                    {{formDetail.description}}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- End title -->

          <div *ngIf="loading == true">
            <img src="../../../assets/nayeon.jpg" alt="">
          </div>
          <form #f="ngForm" (ngSubmit)="submitForm(f)">

            <div *ngFor="let item of formDetail.form_inputs"
              class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
              <div>
                <div class="uk-width-2-3" style="margin-left:220px;" id="shortAns">
                  <div class="uk-card uk-card-default uk-margin-top"
                    style="background-color: white; border-radius: 15px;">
                    <div class="uk-card-body" uk-grid>
                      <p class="uk-margin-large-right uk-margin-top" style="margin-left:30px;">
                        {{item.question}} <span *ngIf="item.required == true" style="color: red;">*</span>
                      </p>

                      <!-- text -->
                      <mat-form-field *ngIf="item.input_type == 'text'" class="uk-width-1-2 uk-margin-large-right"
                        appearance="legacy" style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                        <input matInput placeholder="Jawaban Singkat">
                      </mat-form-field>

                      <!-- select -->
                      <div *ngIf="item.input_type == 'select'" class="uk-width-1-1"
                        style="margin-left: 30px; margin-top: 15px;">
                        <select class="uk-select uk-width-1-2" style="margin-top:-10px; margin-bottom: 20px;">
                          <option *ngFor="let opt of item.option">
                            {{opt}}
                          </option>
                        </select>
                      </div>

                      <!-- checkbox -->
                      <div *ngIf="item.input_type == 'checkbox'" class="uk-width-1-1" style="margin-top: 10px;">
                        <div *ngFor="let opt of item.option; let i = index" class="uk-width-1-1 uk-margin-small-bottom"
                          style="margin-top: 10px;">
                          <label><input name="cb-{{opt}}" (change)="onChangeCheckbox(item.key, opt)" class="uk-checkbox"
                              type="checkbox" style="margin-left: 30px;"></label>
                          <span class="uk-margin-left" style="color: black;">{{opt}}</span>
                        </div>
                      </div>

                      <!-- radio -->
                      <div *ngIf=" item.input_type=='radio'" class=" uk-width-1-1" style="margin-top: 10px;">
                        <div class="uk-margin-small-bottom" *ngFor="let opt of item.option">
                          <label><input class="uk-radio" type="radio" name="{{item.key}}"
                              style="margin-left: 30px;"></label>
                          <span class="uk-margin-left" style="color: black;">{{opt}}</span>
                        </div>
                      </div>

                      <div *ngIf="item.input_type == 'scale'" class="uk-width-1-1 uk-margin-small-top uk-margin-bottom">
                        <div style="margin-left: 79px;">
                          <label for=""
                            style="margin-left: -28px; margin-right: 16px; visibility: hidden;">{{item.option[1]}}</label>
                          <div style="display: inline; margin-left: 23px;"
                            *ngFor="let opt of generateArray(item.option[0]); let idx=index">
                            {{idx+1}}
                          </div>
                        </div>
                        <div style="margin-top: 10px;">
                          <label for="" style="margin-left:50px; margin-right: 20px;">{{item.option[1]}}</label>
                          <label *ngFor="let opt of generateArray(item.option[0]); let idx=index">
                            <input class="uk-radio" type="radio" ngModel value="{{opt}}" name="{{item.key}}"
                              style="margin-left: 20px;">
                          </label>

                          <label for="" style="margin-left:50px;">{{item.option[2]}}</label>
                        </div>
                      </div>

                      <!-- time -->
                      <div *ngIf="item.input_type == 'time'" class="uk-width-1-1"
                        style="margin-top: -10px; margin-left: 20px;">
                        <mat-form-field class="uk-width-1-3" appearance="legacy"
                          style="margin-left: 10px; margin-top: 0px; margin-bottom: 3px;">
                          <div style="display: flex; color: gray; margin-top: -10px;">
                            <input matInput type="time">
                          </div>
                        </mat-form-field>
                      </div>

                      <!-- date -->
                      <div *ngIf="item.input_type == 'date'" class="uk-width-1-1"
                        style="margin-top: -10px; margin-left: 20px;">
                        <mat-form-field class="uk-width-1-3" appearance="legacy"
                          style="margin-left: 10px; margin-top: 0px; margin-bottom: 3px;">
                          <div style="display: flex; color: gray; margin-top: -10px;">
                            <input matInput type="date">
                          </div>
                        </mat-form-field>
                      </div>

                      <div *ngIf="item.input_type == 'file'" class="uk-width-1-2 uk-margin-bottom"
                        style="margin-top: 0px; margin-left: 30px;">
                        <div uk-form-custom="target: true" style="margin-left:0px;">
                          <input type="file">
                          <button mat-stroked-button
                            style="margin-top: 15px; background-color:white; border: 1px solid;">
                            Tambah File
                          </button>
                        </div>
                      </div>

                      <div *ngIf="item.input_type == 'linier'"
                        class="uk-width-1-1 uk-margin-small-top uk-margin-bottom">
                        <label for="" style="margin-left:30px;">Keterangan 1</label>
                        <label *ngFor="let opt of item.option"><input class="uk-radio" type="radio" name="radio1"
                            style="margin-left: 50px;"></label>

                        <label for="" style="margin-left:50px;">Keterangan 5</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Send Button -->
            <div class="uk-width-2-3 uk-margin-top" style="margin-left:238px;">
              <div>
                <button (click)="goToCriteria()" class="uk-width-1-1 send uk-margin-bottom"
                  mat-flat-button>Lanjut</button>
              </div>
            </div>
            <!-- End Send Button -->
          </form>
        </div>
      </div>
    </div>

    <!-- CRITERIA -->
    <div *ngIf="isCriteria" class="uk-width-1-1" style="display: flex; background-color: #d9f5f9;">
      <div class="uk-width-1-1">
        <!-- Toolbar -->
        <mat-toolbar style="background-color:#d9f5f9; position: sticky; top: 0px; z-index: 999;">
          <a class="uk-margin-left uk-margin-top" routerLink="/dashboard">
            <img src="../../../assets/FOR FE/Logo.png" alt="" style="width: 3cm; padding-bottom: 20px;">
          </a>

          <div class="header-text">
            <a (click)="backToDesign()" style="color:black; font-size: 12px;">Desain Kuesioner</a>
            <a (click)="backToPreview()" style="color:black; font-size: 12px;"> > preview</a>
            <a style="color:black; font-size: 12px;"> > bagikan</a>
          </div>
          <div class="uk-width-expand"></div>

          <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
          <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
            <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
          </button>
          <mat-menu #username="matMenu">
            <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
            <button mat-menu-item (click)="logout()">Keluar</button>
          </mat-menu>
        </mat-toolbar>
        <!-- End Toolbar -->

        <!-- Set Criteria -->
        <div class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
          <form #f="ngForm" (ngSubmit)="createForm(f)">
            <div class="uk-width-2-3" style="margin-left:200px;" id="title1">
              <div class="uk-card uk-card-default uk-margin-top" style="background-color: white; border-radius: 15px;">
                <div class="uk-card-body" uk-grid>
                  <h1 class="uk-margin-large-right uk-margin-top uk-width-1-1"
                    style="margin-left:30px; font-size: 30px;">
                    Tentukan Kriteria Respondenmu!
                  </h1>
                  <p class="uk-margin-large-right uk-margin-bottom" style="margin-left:30px; margin-top: 10px;">
                    Kuesionermu hanya akan muncul di beranda pengguna yang sesuai dengan kriteria yang
                    kamu pilih.
                  </p>
                  <div class="uk-width-1-2" style="margin-top:0px;">

                    <span style="color: black; margin-left: 30px;">Umur</span>
                    <div style="margin-top: 0px;">
                      <mat-form-field class="uk-margin-small-right" appearance="legacy"
                        style="margin-left: 30px; width: 30px; color: black">
                        <input ngModel name='minimum_age' matInput>
                      </mat-form-field>
                      <label for=""> Sampai </label>
                      <mat-form-field class="uk-margin-small-left" appearance="legacy"
                        style="width: 30px; color: black">
                        <input ngModel name='maximum_age' matInput>
                      </mat-form-field>
                    </div>
                    <div class="uk-margin-top">

                      <span style="color: black; margin-left: 30px;">Pekerjaan</span>
                      <div class="uk-width-1-1" style="margin-left: 30px; margin-top: 15px;">
                        <select ngModel name='job' class="uk-select uk-width-1-2 uk-margin-small-top"
                          style="margin-top:-10px; margin-bottom: 20px;">
                          <option value="dosen">Dosen/Guru</option>
                          <option value="freelancer">Freelancer</option>
                          <option value="irt">Ibu Rumah Tangga</option>
                          <option value="karyawan">Karyawan</option>
                          <option value="mahasiswa">Mahasiswa</option>
                          <option value="pelajar">Pelajar</option>
                          <option value="pebisnis">Pemilik Bisnis</option>
                          <option value="tidakbekerja">Tidak Bekerja</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-1-2" style="margin-top:0px; margin-bottom: 20px;">

                    <span style="color: black; margin-left: 30px;">Jenis Kelamin</span>
                    <div class="uk-margin-top" style="margin-top: 0px;">
                      <label><input value="p" ngModel name="gender" class="uk-radio" type="radio"
                          style="margin-left: 30px;"></label>
                      <span class="uk-margin-left" style="color: black;">Pria</span>
                      <label><input value="w" ngModel name="gender" class="uk-radio" type="radio"
                          style="margin-left: 50px;"></label>
                      <span class="uk-margin-left" style="color: black;">Wanita</span>
                    </div>
                    <div class="uk-margin-medium-top">

                      <span style="color: black; margin-left: 30px;">Domisili</span>
                      <div class="uk-width-1-1" style="margin-left: 30px; margin-top: 15px;">
                        <select ngModel name="domicile" class="uk-select uk-width-1-2 uk-margin-small-top"
                          style="margin-top:-10px; margin-bottom: 20px;">
                          <option value="bali">Bali</option>
                          <option value="belitung">Bangka Belitung</option>
                          <option value="banten">Banten</option>
                          <option value="bengkulu">Bengkulu</option>
                          <option value="gorontalo">Gorontalo</option>
                          <option value="jakarta">Jakarta</option>
                          <option value="jambi">Jambi</option>
                          <option value="jawa">Jawa</option>
                          <option value="kalimantan">Kalimantan</option>
                          <option value="lampung">Lampung</option>
                          <option value="maluku">Maluku</option>
                          <option value="papua">Papua</option>
                          <option value="riau">Riau</option>
                          <option value="sulawesi">Sulawesi</option>
                          <option value="sumatera">Sumatera</option>
                          <option value="yogyakarta">Yogyakarta</option>

                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="uk-card uk-card-default uk-margin-top uk-margin-bottom"
                style="background-color: white; border-radius: 15px;">
                <div class="uk-card-body" uk-grid>
                  <h1 class="uk-margin-large-right uk-margin-top uk-width-1-1"
                    style="margin-left:30px; font-size: 30px;">
                    Pengaturan Respons
                  </h1>

                  <div class="uk-width-1-2" style="margin-top: 10px;">
                    <label><input ngModel name="device_limit" class="uk-checkbox" type="checkbox"
                        style="margin-left: 30px;"></label>
                    <span class="uk-margin-left" style="color: black;">
                      Limit respons per device
                    </span>
                  </div>

                  <div class="uk-width-1-2" style="margin-top: -10px;">

                    <span style="color: black; margin-left: 30px;">
                      Limit responden yang dapat mengisi:
                    </span>
                    <span>
                      <mat-form-field class="uk-margin-small-right" appearance="legacy"
                        style="margin-left: 10px; width: 40px; color: black">
                        <input matInput ngModel name="limit">
                      </mat-form-field>
                    </span>
                  </div>
                  <div class=" uk-width-1-1 uk-margin-bottom uk-margin-top"
                    style="text-align:center; margin-left: 0px;">
                    <button mat-flat-button href="#form-created" uk-toggle style=" background-color: black; color:
                        white; width: 92%;">Bagikan
                      di beranda
                    </button>
                  </div>

                  <div id="form-created" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                      <div class="uk-text-center" style="color: black;">
                        <img src="../../../../assets/Completed-pana2.png" alt="">
                        <p style="margin-top: 15px; font-size: 18px;">Berhasil membuat form!</p>
                        <a class="uk-modal-close" routerLink="/dashboard"
                          style="color:black; font-style: italic;">Kembali ke beranda>></a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- End Set Criteria -->
      </div>
    </div>
  </ng-container>
</body>

</html>