html {
    overflow:   scroll;
  }

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

mat-sidenav {
    background-color: #fff8e1;
    width: 20%;
    text-align: center;
    position: fixed;
    margin-top: -3.5%;
}

.sidenav-icon {
    margin-left: 30px;
}

.sidenav-text {
    padding-left: -25px;
}

.my-form {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.isi {
    color: black;
}

@media(max-width: 1600px) {
    .my-form {
        font-size: 35px;
    }
    .title {
        font-size: large;
    }
    .caption {
        display: flex;
    }
}

@media(max-width: 1200px) {
    .title {
        font-size: large;
    }
    .caption {
        display: grid;
    }
}

@media(max-width: 640px) {
.my-form {
    margin-top: 30px;
    font-size: 25px;
}

    .title {
        font-size: large;
    }
    .caption {
        display: flex;
        font-size: small;
    }
}