<!-- Jika user sudah pernah membuat form -->

<html>

<head></head>

<body>
  <ng-container>
    <div class="uk-width-1-1" style="display: flex;">
      <!-- sidenav -->
      <div class="uk-width-1-4@l uk-width-1-3@m uk-width-2-3@s" style="background-color: #fff8e1;">
        <mat-sidenav #sidenav mode="side" [position]="'start'" opened class="sidenav-left" [fixedInViewport]="true"
          [fixedTopGap]="60" [fixedBottomGap]="0">

          <mat-nav-list>
            <a routerLink="/dashboard">
              <img src="../../../assets/FOR FE/Logo.png" alt="" style="width: 3cm; padding-bottom: 20px;">
            </a>
            <!-- <div class="uk-width-expand"></div> -->
            <mat-list-item routerLink="/dashboard">
              <mat-icon matListIcon class="uk-margin-medium-left">dashboard</mat-icon>
              <h3 matLine style="margin-left:-90px; padding-top: 7px;">Beranda</h3>
            </mat-list-item>
            <mat-list-item routerLink="/my-form" style="background-color: #fdc400;">
              <mat-icon matListIcon class="uk-margin-medium-left">description</mat-icon>
              <h3 matLine style="margin-left:-70px; padding-top: 7px;">Form Saya</h3>
            </mat-list-item>
            <mat-list-item routerLink="/voucher-list">
              <mat-icon matListIcon class="uk-margin-medium-left">redeem</mat-icon>
              <h3 matLine style="margin-left:-70px; padding-top: 7px;">Tukar Koin</h3>
            </mat-list-item>
            <mat-list-item routerLink="/faq">
              <mat-icon matListIcon class="uk-margin-medium-left">question_answer</mat-icon>
              <h3 matLine style="margin-left:-110px; padding-top: 7px;">FAQ</h3>
            </mat-list-item>
            <img src="../../../assets/home/pict1-home.png" style="width: 200px; margin-top: 30px;" alt="">
          </mat-nav-list>
        </mat-sidenav>
      </div>
      <!-- End sidenav -->


      <!-- Toolbar -->
      <div class="uk-width-1-1" style="background-color: white;">
        <mat-toolbar style="background-color:white; position: sticky; top: 0px; z-index: 999;">
          <div class="uk-width-expand"></div>
          <div class="uk-width-expand"></div>
          <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
          <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
            <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
          </button>
          <mat-menu #username="matMenu">
            <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
            <button mat-menu-item (click)="logout()">Keluar</button>
          </mat-menu>
        </mat-toolbar>
        <!-- End Toolbar -->

        <div class="my-form">
          Form Saya
        </div>

        <div class="uk-grid-medium uk-child-width-1-3@m uk-child-width-1-1* uk-margin-left uk-margin-large-right"
          uk-grid uk-height-match="target: > div > .uk-card">
          <div>
            <div class="uk-card uk-card-default" style="background-color: white; border-radius: 15px;">
              <div class="uk-card-body" uk-grid>
                <div style="text-align: center; margin-top: 25px; width: 100%; height: 300px;">
                  <img src="../../../../assets/form-saya/form-saya/buat-form.png" alt="">
                </div>
                <div class="uk-width-1-1">
                  <a class="isi uk-card-footer uk-text-center" routerLink="/create-form">Buat form
                    baru</a>
                </div>
              </div>
            </div>
          </div>

          <div *ngFor="let item of formData">
            <div class="uk-card uk-card-default" style="background-color: white; border-radius: 15px;">
              <div class="uk-card-media-top uk-text-center">
                <img src="{{item.image_url}}" style="width: 100%; height: 200px;"
                  onerror="this.src='../../../../assets/form-saya/form-saya/header-default.jpg'" alt="">
              </div>

              <div class="uk-card-body" uk-grid>
                <div class="uk-width-1-1">
                  <div class="uk-margin-small-top" style="font-size: large; margin-left: 15px;">{{item.title}}</div>
                </div>

                <div class="caption" style="margin-left: 8px;">
                  <div class="uk-width-1-1 uk-flex">
                    <img class="keterangan-logo uk-margin-small-left"
                      src="../../../assets/asset home n lengkapi profile/home/calendar.png" alt=""
                      style="height: 25px; width: 20px; margin-top: 0px;">
                    <label class="keterangan uk-margin-small-left" for="">{{item.created_at}}</label>
                  </div>
                </div>

                <div class="uk-width-1-1">
                  <a class="isi uk-card-footer uk-text-center" [routerLink]="['/form-detail/',item.id]">Lihat
                    kuesioner</a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </ng-container>
</body>

</html>