

.header-text {
    color: black;
    margin-left: 400px
}

.option {
    display: flex;
}

.up-video {
    margin-top: 25px;
    
}

.up-video-caption {
    color: white;
    background-color: gray;
    margin-left: 10px;
    font-size: 9px;
    visibility: hidden;
}

.up-video:hover .up-video-caption {
    visibility: visible;
}

.up-photo {
    margin-top: 25px;
}

.up-photo-caption {
    color: white;
    background-color: gray;
    font-size: 9px;
    margin-left: -17px;
    visibility: hidden;
}

.up-photo:hover .up-photo-caption {
    visibility: visible;
}

.delete {
    color: red;
    font-size: 12px;
    margin-top: 30px;
}

.required {
    color: black;
    font-size: 12px;
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 15px;
}

.req-slide {
    margin-top: 25px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #d9f5f9;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #49c5b6;
}

:host ::ng-deep .mat-form-field {
    color: blue;
}

.share {
    background-color: black;
    color: white;
    width: 92%;
}

@media(max-width:1600px) {
    .header-text {
        font-size: medium;
    }
}

@media(max-width:640px) {
    .header-text {
        font-size: small;
    }
}