mat-sidenav {
    background-color: white;
    width: 20%;
    text-align: center;
}

.sidenav-icon {
    margin-left: 30px;
}

.sidenav-text {
    padding-left: -25px;
}

::placeholder {
    color:white;
}