html {
    overflow:   scroll;
  }

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

mat-sidenav {
    background-color: #fff8e1;
    width: 20%;
    text-align: center;
    position: fixed;
    margin-top: -4%;
}

.sidenav-icon {
    margin-left: 30px;
}

.sidenav-text {
    padding-left: -25px;
}

//content
#more {
    display: none;
}

.tot-koin {
    font-size: 18px;
    margin-top: 40px;
    color: black;
}

.koin {
    background-color: #FFF6E9;
    margin-top: 3px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    width: 85%;
}

.exchange-history {
    background-color: #fdc400;
    margin-top: 20px;
    height: 55px;
    border-radius: 10px;
    color: black;
    font-size: 12px;
    width: 85%;
}

.hadiah {
    font-size: 10px;
    background-color: #fdc400;
    margin-left: -6px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.history-detail-footer{
    background-color: white;
    padding-top: 50px;
}

@media (max-width: 960px) {
        .socmed-logo {
            width: 15%;
        }

        .history-detail-footer {
             font-size: 80%;
        }
}
