<html>

<head>
</head>

<body>
  <ng-container>
    <div class="uk-width-1-1" style="display: flex;">
      <!-- sidenav -->
      <div class="uk-width-1-4@l uk-width-1-3@m uk-width-2-3@s" style="background-color: #fff8e1;">
        <mat-sidenav #sidenav mode="side" [position]="'start'" opened class="sidenav-left" [fixedInViewport]="true"
          [fixedTopGap]="60" [fixedBottomGap]="0">

          <mat-nav-list>
            <img src="../../../assets/FOR FE/Logo.png" alt="" style="width: 3cm; padding-bottom: 20px;">
            <!-- <div class="uk-width-expand"></div> -->
            <a mat-list-item routerLink="/dashboard">
              <mat-icon matListIcon class="uk-margin-medium-left">dashboard</mat-icon>
              <h3 matLine style="margin-left:-70px; padding-top: 7px;">Beranda</h3>
            </a>
            <a mat-list-item routerLink="/form-list">
              <mat-icon matListIcon class="uk-margin-medium-left">description</mat-icon>
              <h3 matLine style="margin-left:-50px; padding-top: 7px;">Form Saya</h3>
            </a>
            <a mat-list-item routerLink="/voucher-list" style="background-color: #fdc400;">
              <mat-icon matListIcon class="uk-margin-medium-left">redeem</mat-icon>
              <h3 matLine style="margin-left:-50px; padding-top: 7px;">Tukar Koin</h3>
            </a>
            <a mat-list-item routerLink="/faq">
              <mat-icon matListIcon class="uk-margin-medium-left">question_answer</mat-icon>
              <h3 matLine style="margin-left:-95px; padding-top: 7px;">FAQ</h3>
            </a>
            <img src="../../../assets/home/pict1-home.png" style="width: 200px; margin-top: 30px;" alt="">
          </mat-nav-list>
        </mat-sidenav>
      </div>
      <!-- End sidenav -->

      <div class="uk-width-1-1" style="background-color: white;">
        <!-- Toolbar -->
        <mat-toolbar style="background-color:white; position: sticky; top: 0px; z-index: 999;">
          <div class="uk-width-expand"></div>
          <div class="uk-width-expand"></div>
          <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
          <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
            <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
          </button>
          <mat-menu #username="matMenu">
            <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
            <button mat-menu-item (click)="logout()">Keluar</button>
          </mat-menu>
        </mat-toolbar>
        <!-- End Toolbar -->


        <!-- Content -->
        <div uk-grid data-uk-grid-margin>
          <div class="uk-width-1-2@s uk-width-5-6@m">
            <h1 class="uk-margin-medium-left uk-margin-medium-top">
              Riwayat Penukaran
            </h1>

            <div *ngFor="let item of histories" class="uk-grid-small uk-child-width-1-1* uk-margin-left" uk-grid>
              <div class="uk-card uk-card-default uk-grid-collapse uk-width-1-1 uk-margin uk-margin-left" uk-grid>
                <div class="uk-width-1-1">
                  <div class="uk-card-body">
                    <h3 class="uk-card-title" style="margin-top: -30px;">{{item.voucher.name}}</h3>

                    <div style="margin-top: -13px; color: #fdc400; display: flex; font-size: 20px;">
                      {{item.amount}} Koin
                      <div style="margin-left: 500px; margin-top: -12px;">
                        <a mat-flat-button [routerLink]="['/history-detail/',item.id]"
                          style=" background-color: #fdc400; color: black;">Lihat detail</a>
                      </div>
                    </div>

                    <div style="margin-top: 5px; margin-bottom: -25px; font-size: 12px;">Pada
                      tanggal {{item.created_at}}</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="uk-width-1-2@s uk-width-1-6@m">
            <div class="tot-koin">
              Total koin
            </div>

            <div class="uk-width-1-1">
              <button mat-flat-button class="koin" routerLink="/redeem-coin">
                <div class="uk-margin-small-top uk-margin-small-bottom ">
                  <img src="../../../assets/home/coin.png" style="width: 21px;" alt="">
                  {{WalletBalance}}
                </div>
              </button>
            </div>

            <button mat-flat-button class="exchange-history" routerLink="/exchange-history">
              History Penukaran
            </button>

            <div class="uk-width-1-1">
              <mat-card class="uk-margin-small-right uk-margin-top" style="background-color: #FFF6E9; width: 65%;">
                <h3 style="text-align: center;"> Cara Dapat <b>Koin</b></h3>

                <div style="text-align: center;">
                  <img src="../../../assets/home/coin-bag.png" style="width: 55px; margin-top:-5px;" alt="">
                </div>

                <div class="uk-text-center">
                  <div class="uk-margin-top" style="font-size: 12px; text-align: left;">1. Buka beranda</div>
                  <div style="font-size: 12px; text-align: left; margin-top: 3px;">2. Isi kuesioner</div>
                  <div style="font-size: 12px; text-align: left; margin-top: 3px;">3. Klaim koin</div>
                  <div style="font-size: 12px; text-align: left; margin-top: 3px;">4. Isi kuesioner lagi</div>
                  <button class="uk-margin-small-top" mat-flat-button routerLink="/dashboard"
                    style="background-color: #fdc400; font-size: 10px;">
                    Kumpulkan Koin!
                  </button>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <!-- End Content -->
      </div>

    </div>

    <!-- Footer -->
    <mat-toolbar class="exchange-history-footer uk-margin-large-top">
      <div class="uk-width-1-3@s">
        <img src="../../assets/FOR FE/Logo.png" style="width: 4cm; margin-left: 30px;" alt="">
      </div>
      <div class="uk-width-1-3@s uk-margin-left">
        <div class="uk-text-center">
          <div class="">
            Social Media
          </div>
        </div>

        <div class="uk-text-center">
          <img src="../../assets/FOR FE/footer/twit-logo.png" class="socmed-logo" alt="">
          <img src="../../assets/FOR FE/footer/fb-logo(2).png" class="socmed-logo" alt="">
          <img src="../../assets/FOR FE/footer/ig-logo.png" class="socmed-logo" alt="">
        </div>
        <div class="uk-text-center">
          Copyright© 2020 BuddyQu. All Right Reserved
        </div>
      </div>
      <div class="uk-width-1-3@s">
        <div class="uk-text-center">
          Hubungi kami di
        </div>
        <div class="uk-text-center">
          hello@buddyQu.id
        </div>
      </div>
    </mat-toolbar>
    <!-- End Footer -->
  </ng-container>
</body>

</html>