html {
    overflow:   scroll;
  }

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

mat-sidenav {
    background-color: #fff8e1;
    width: 20%;
    text-align: center;
    position: fixed;
    margin-top: -3.5%;
}

.sidenav-icon {
    margin-left: 30px;
}

.sidenav-text {
    padding-left: -25px;
}

//content

.badge {
    background-color: #fdc400;
    color: black;
    margin-top: -27px;
    border-radius: 0px;
}

.isi {
    color: black;
}

@media(max-width: 1600px) {
    .title {
        font-size: large;
    }
    .caption {
        display: flex;
    }
}

@media(max-width: 1200px) {
    .title {
        font-size: large;
    }
    .caption {
        display: grid;
    }
}

@media(max-width: 640px) {
    .title {
        font-size: large;
    }
    .caption {
        display: flex;
        font-size: small;
    }
    .socmed-logo {
        width: 10%;
    }
}

.tot-koin {
    font-size: 18px;
    margin-top: 40px;
    color: black;
    padding-left: 20px;
}

.koin {
    background-color: #FFF6E9;
    margin-top: 3px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    width: 85%;
}

.buat-form {
    background-color: #fdc400;
    margin-top: 20px;
    height: 55px;
    border-radius: 10px;
    color: black;
    font-size: 14px;
    width: 85%;
}

.hadiah {
    font-size: 10px;
    background-color: #fdc400;
    margin-left: -6px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dashboard-footer{
    background-color: white;
    padding-top: 50px;
}

@media (max-width: 960px) {
        .socmed-logo {
            width: 15%;
        }

        .dashboard-footer {
             font-size: 80%;
        }
}
