<html>

<head>
</head>

<body>
  <ng-container>
    <div class="uk-width-1-1" style="display: flex; ">
      <!-- sidenav -->
      <div class="uk-width-1-4@l uk-width-1-3@m uk-width-2-3@s" style="background-color: #fff8e1;">
        <mat-sidenav #sidenav mode="side" [position]="'start'" opened class="sidenav-left" [fixedInViewport]="true"
          [fixedTopGap]="60" [fixedBottomGap]="0">

          <mat-nav-list>
            <img src="../../../assets/FOR FE/Logo.png" alt="" style="width: 3cm; padding-bottom: 20px;">
            <!-- <div class="uk-width-expand"></div> -->
            <a mat-list-item routerLink="/dashboard" style="background-color: #fdc400;">
              <mat-icon matListIcon class="uk-margin-medium-left">dashboard</mat-icon>
              <h3 matLine style="margin-left:-90px; padding-top: 7px;">Beranda</h3>
            </a>
            <a mat-list-item routerLink="/form-list">
              <mat-icon matListIcon class="uk-margin-medium-left">description</mat-icon>
              <h3 matLine style="margin-left:-70px; padding-top: 7px;">Form Saya</h3>
            </a>
            <a mat-list-item routerLink="/voucher-list">
              <mat-icon matListIcon class="uk-margin-medium-left">redeem</mat-icon>
              <h3 matLine style="margin-left:-70px; padding-top: 7px;">Tukar Koin</h3>
            </a>
            <a mat-list-item routerLink="/faq">
              <mat-icon matListIcon class="uk-margin-medium-left">question_answer</mat-icon>
              <h3 matLine style="margin-left:-110px; padding-top: 7px;">FAQ</h3>
            </a>
            <img src="../../../assets/home/pict1-home.png" style="width: 200px; margin-top: 30px;" alt="">
          </mat-nav-list>
        </mat-sidenav>
      </div>
      <!-- End sidenav -->

      <div class="uk-width-1-1" style="background-color: white;">
        <!-- Toolbar -->
        <mat-toolbar style="background-color:white; ">
          <div class="uk-width-expand"></div>
          <div class="uk-width-expand"></div>
          <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
          <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
            <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
          </button>
          <mat-menu #username="matMenu">
            <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
            <button mat-menu-item (click)="logout()">Keluar</button>
          </mat-menu>
        </mat-toolbar>
        <!-- End Toolbar -->

        <!-- Slideshow -->
        <div
          class="slideshow uk-position-relative uk-visible-toggle uk-light uk-margin-medium-right uk-margin-small-top uk-margin-medium-left"
          tabindex="-1" uk-slideshow="autoplay:true; ratio: 10:3; autoplay-interval: 3000">
          <ul class="uk-slideshow-items">
            <li>
              <img src="../../../assets/banner home/banner home/banner-4.png" alt="" uk-cover>
            </li>
            <li>
              <img src="../../../assets/banner home/banner home/banner-2.png" alt="" uk-cover>
            </li>
            <li>
              <img src="../../../assets/banner home/banner home/banner-3.png" alt="" uk-cover>
            </li>
          </ul>
          <div class="uk-position-bottom-center uk-position-small">
            <ul class="uk-dotnav">
              <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
              <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
              <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
            </ul>
          </div>
        </div>
        <!-- End Slideshow -->

        <!-- Content -->
        <div uk-grid data-uk-grid-margin>
          <div class="uk-width-1-2@s uk-width-5-6@m">
            <h1 class="uk-margin-medium-left uk-margin-medium-top">
              Isi form dan dapatkan koin!
            </h1>

            <div class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-1* uk-margin-left" uk-grid
              uk-height-match="target: > div > .uk-card">
              <div *ngFor="let item of formData">
                <div class="uk-card uk-card-default" style="background-color: white; border-radius: 15px;">
                  <div class="uk-card-media-top uk-text-center">
                    <img src="{{item.image_url}}"
                      onerror="this.src='../../../../assets/form-saya/form-saya/header-default.jpg'"
                      style="width: 100%; height: 200px;" alt="">
                  </div>

                  <div class="uk-card-body" uk-grid>
                    <div class="uk-width-1-1">
                      <div class="badge uk-badge" style="font-size: 18px; padding: 18px;">
                        <img src="../../../assets/home/coin-black.png" style="width: 25px; padding-right: 8px;"
                          alt="">{{item.point}} Koin
                      </div>
                      <div class="title uk-margin-small-top" style="margin-left: 15px;">{{item.title}}</div>
                    </div>

                    <div class="caption" style="margin-left: 8px;">
                      <div class="uk-width-1-2 uk-flex">
                        <img class="keterangan-logo uk-margin-small-left"
                          src="../../../assets/asset home n lengkapi profile/home/calendar.png" alt=""
                          style="height: 25px; width: 20px; margin-top: 3px;">
                        <label class="keterangan uk-margin-small-left" for="">{{item.created_at}}</label>
                      </div>
                      <div class="uk-width-1-2 uk-flex">
                        <img class="keterangan-logo uk-margin-small-left"
                          src="../../../assets/asset home n lengkapi profile/home/form.png" alt=""
                          style="height: 25px; width: 20px; margin-top: 3px;">
                        <label class="keterangan uk-margin-small-left" for=""> {{item.form_inputs.length}}
                          pertanyaan</label>
                      </div>
                    </div>

                    <div class="uk-width-1-1">
                      <a class="isi uk-card-footer uk-text-center" [routerLink]="['/view-form/',item.id]">Isi Kuesioner
                        >></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!-- <button (click)="getDataFromAPI()">Get Data</button>
                        <ul *ngFor="let d of data">
                            <li>{{d.id}}</li>
                            <li>{{d.title}}</li>
                            <li>{{d.body}}</li>
                        </ul> -->


            <!-- Daftar kuesioner buat disini. -->

            <ul class="uk-pagination uk-flex-center" uk-margin>
              <li class="uk-active"><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href=""><span uk-pagination-next></span></a></li>
            </ul>
          </div>

          <div class="uk-width-1-2@s uk-width-1-6@m">
            <div class="tot-koin" style="margin-left: -20px;">
              Total koin
            </div>

            <div class="uk-width-1-1">
              <button mat-flat-button class="koin" routerLink="/redeem-coin">
                <div class="uk-margin-small-top uk-margin-small-bottom ">
                  <img src="../../../assets/home/coin.png" style="width: 21px;" alt="">
                  {{walletBalance}}
                </div>
              </button>
            </div>

            <button mat-flat-button class="buat-form" routerLink="/create-form">
              <mat-icon style="margin-bottom: 4px;">add</mat-icon>
              Buat Form
            </button>

            <div class="uk-width-1-1">
              <mat-card class="uk-margin-small-right uk-margin-top" style="background-color: #FFF6E9; width: 65%;">
                <h3 style="text-align: center;"> <b>Top Hadiah</b> Bulan Ini</h3>

                <div style="text-align: center;">
                  <img src="../../../assets/home/gift-pict.png" style="width: 50px; margin-top:-15px;" alt="">
                </div>

                <mat-list style="margin-left: -15px; margin-top: 10px;">
                  <mat-list-item style="margin-bottom: 10px;">
                    <img style="width: 30px;" src="../../../assets/home/shopee-logo.png" alt="">
                    <div style="font-size: 12px; margin-left: 10px;">Voucher Cashback 15%</div>
                  </mat-list-item>
                  <mat-divider></mat-divider>

                  <mat-list-item style="padding-top: 10px; margin-bottom: 10px;">
                    <img style="width: 30px;" src="../../../assets/home/gopay-logo.png" alt="">
                    <div style="font-size: 12px; margin-left: 10px;">Saldo 10 ribu</div>
                  </mat-list-item>
                  <mat-divider></mat-divider>

                  <mat-list-item style="padding-top: 10px; margin-bottom: 10px;">
                    <img style="width: 30px;" src="../../../assets/home/webtoon-logo.png" alt="">
                    <div style="font-size: 12px; margin-left: 10px;">50 koin</div>
                  </mat-list-item>
                </mat-list>

                <div style="text-align: center; font-size: 12px; color: grey; margin-top: 5px;">Ayo isi kuesioner dan
                  dapatkan hadiahnya</div>
                <div style="text-align: center;">
                  <button class="hadiah" routerLink="/voucher-list" mat-flat-button>Aku Mau Hadiah!</button>
                </div>

              </mat-card>
            </div>
          </div>
        </div>
        <!-- End Content -->
      </div>

    </div>

    <!-- Footer -->
    <mat-toolbar class="dashboard-footer uk-margin-large-top">
      <div class="uk-width-1-3@s">
        <img src="../../assets/FOR FE/Logo.png" style="width: 4cm; margin-left: 30px;" alt="">
      </div>
      <div class="uk-width-1-3@s uk-margin-left">
        <div class="uk-text-center">
          <div class="">
            Social Media
          </div>
        </div>

        <div class="uk-text-center">
          <img src="../../assets/FOR FE/footer/twit-logo.png" class="socmed-logo" alt="">
          <img src="../../assets/FOR FE/footer/fb-logo(2).png" class="socmed-logo" alt="">
          <img src="../../assets/FOR FE/footer/ig-logo.png" class="socmed-logo" alt="">
        </div>
        <div class="uk-text-center">
          Copyright© 2020 BuddyQu. All Right Reserved
        </div>
      </div>
      <div class="uk-width-1-3@s">
        <div class="uk-text-center">
          Hubungi kami di
        </div>
        <div class="uk-text-center">
          hello@buddyQu.id
        </div>
      </div>
    </mat-toolbar>
    <!-- End Footer -->
  </ng-container>
</body>

</html>