<html>

<head></head>

<body>
  <ng-container>
    <div class="uk-width-1-1" [ngStyle]="{'display': 'flex', 'background-color':formDetail.background_color}">
      <div class="uk-width-1-1">
        <!-- Toolbar -->
        <mat-toolbar
          [ngStyle]="{'background-color':formDetail.background_color,'position':'sticky', 'top': '0px', 'z-index': '999'}">
          <a routerLink="/dashboard">
            <img src="../../../assets/FOR FE/Logo.png" alt="" class="uk-margin-medium-left"
              style="width: 3cm; padding-bottom: 20px; margin-top: 20px;">
          </a>
          <a href="/form-list" class="uk-margin-top"
            style="color: black; display: flex; font-size: 12px; margin-left: 55px;">
            <div style="margin-top: 3px;">
              <mat-icon>fast_rewind</mat-icon>
            </div>
            <span>Kembali</span>
          </a>
          <div class="uk-margin-small-top header-text">
            <a [routerLink]="['/form-detail/',formDetail.id]"
              style="color:black; font-size: 12px; margin-left: 150%;"><b>Kuesioner Saya</b></a>
            <span style="margin-left:30px; margin-right: 30px;">||</span>
            <a style="color:black; font-size: 12px;" [routerLink]="['/form-response/',formDetail.id]">Respons</a>

          </div>

          <div class="uk-width-expand"></div>

          <a class="uk-margin-top" href="#delete-form" uk-toggle
            style="color: black; display: flex; font-size: 12px;  margin-right: 50px;">
            <div style="margin-top: 0px;">
              <mat-icon>delete_forever</mat-icon>
            </div>
          </a>

          <div id="delete-form" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
              <div class="uk-text-center" style="color: black;">
                <p>Apa kamu yakin akan menghapus kuesioner?</p>
              </div>
              <div class="uk-text-center">
                <button mat-flat-button class="uk-modal-close" type="button" style=" color: black;">Batal</button>
                <button mat-flat-button class="uk-modal-close" type="button" style="background-color: red; color:white"
                  uk-toggle (click)="deleteForm()">
                  Hapus
                </button>
              </div>
            </div>
          </div>

          <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
          <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
            <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
          </button>
          <mat-menu #username="matMenu">
            <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
            <button mat-menu-item (click)="logout()">Keluar</button>
          </mat-menu>
        </mat-toolbar>
        <!-- End Toolbar -->
        <div class=" uk-width-2-3 uk-card uk-card-default uk-margin-top"
          style="background-color: white; border-radius: 15px; margin-left: 225px; margin-bottom: 10px;">
          <div class="uk-card-body" uk-grid>

            <div style="margin-left:0px; margin-top: 40px;">
              <button mat-stroked-button [routerLink]="['/create-form']" [queryParams]="{template: formDetail.id}"
                style="margin-left:30px; background-color:black; border: 1px solid black; color: white;">
                Duplikat Form Ini
              </button>
            </div>

            <div class="uk-width-1-1">
              <p class="uk-margin-large-right uk-width-1-1"
                style="margin-top: -10px; margin-left:30px; font-size: 20px;">
                Bagikan dengan link
              </p>

              <div class="uk-width-1-1" style="display: flex;">
                <div class="uk-width-3-4" style="margin-top: -15px;">
                  <mat-form-field class="uk-margin-small-right" appearance="legacy"
                    style="margin-left: 30px; width: 92%; color: black">
                    <input matInput #link value="{{formLink}}" readonly>
                  </mat-form-field>
                </div>

                <div style=" margin-bottom: 40px;">
                  <button mat-stroked-button (click)="copyLink(link)"
                    style="margin-left:30px; background-color:white; border: 1px solid black;">
                    Copy Link
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Header Photo -->
        <div class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
          <div class="uk-width-2-3" style="margin-left:200px;" id="header-photo">
            <img class="uk-margin-top" src="{{formDetail.image_url}}" alt="">
          </div>
        </div>
        <!-- End Header Photo -->

        <!-- title -->
        <div class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
          <div class="uk-width-2-3" style="margin-left:200px;" id="title1">
            <div class="uk-card uk-card-default uk-margin-top uk-margin-bottom"
              style="background-color: white; border-radius: 15px;">
              <div class="uk-card-body" uk-grid>
                <h1 class="uk-margin-large-right uk-margin-top uk-width-1-1" style="margin-left:30px; font-size: 26px;">
                  {{formDetail.title}}
                </h1>
                <p class="uk-margin-large-right uk-margin-bottom" style="margin-left:30px; margin-top: -1px;">
                  {{formDetail.description}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- End title -->

        <div *ngFor="let item of formDetail.form_inputs"
          class="uk-grid-small uk-width-1-1 uk-margin-left uk-margin-large-right" uk-grid>
          <div>
            <div class="uk-width-2-3" style="margin-left:200px;" id="shortAns">
              <div class="uk-card uk-card-default uk-margin-bottom"
                style="background-color: white; border-radius: 15px;">
                <div class="uk-card-body" uk-grid>
                  <p class="uk-margin-large-right uk-margin-top" style="margin-left:30px;">
                    {{item.question}} <span *ngIf="item.required == true" style="color: red;">*</span>
                  </p>

                  <!-- text -->
                  <mat-form-field *ngIf="item.input_type == 'text'" class="uk-width-1-1 uk-margin-large-right"
                    appearance="legacy" style="margin-left: 30px; margin-top: 3px; margin-bottom: 3px;">
                    <input ngModel name="{{item.key}}" matInput placeholder="Jawaban Singkat">
                  </mat-form-field>

                  <!-- select -->
                  <div *ngIf="item.input_type == 'select'" class="uk-width-1-1"
                    style="margin-left: 30px; margin-top: 15px;">
                    <select ngModel name="{{item.key}}" class="uk-select uk-width-1-2"
                      style="margin-top:-10px; margin-bottom: 20px;">
                      <option *ngFor="let opt of item.option">
                        {{opt}}
                      </option>
                    </select>
                  </div>

                  <!-- checkbox -->
                  <div *ngIf="item.input_type == 'checkbox'" class="uk-width-1-1" style="margin-top: 10px;">
                    <div *ngFor="let opt of item.option; let i = index" class="uk-width-1-1 uk-margin-small-bottom"
                      style="margin-top: 10px;">
                      <label><input [(ngModel)]="opt.selected" name="cb-{{opt}}"
                          (change)="onChangeCheckbox(item.key, opt)" class="uk-checkbox" type="checkbox"
                          style="margin-left: 30px;"></label>
                      <span class="uk-margin-left"
                        style="color: black;margin-top:-10px; padding-bottom: 20px;">{{opt}}</span>
                    </div>
                  </div>

                  <!-- radio -->
                  <div *ngIf=" item.input_type=='radio'" class=" uk-width-1-1" style="margin-top: 10px;">
                    <div *ngFor="let opt of item.option" class="uk-margin-small-bottom">
                      <label><input class="uk-radio" type="radio" ngModel value="{{opt}}" name="{{item.key}}"
                          style="margin-left: 30px;"></label>
                      <span class="uk-margin-left" style="color: black;">{{opt}}</span>
                    </div>
                  </div>

                  <!-- time -->
                  <div *ngIf="item.input_type == 'time'" class="uk-width-1-1"
                    style="margin-top: -10px; margin-left: 20px;">
                    <mat-form-field class="uk-width-1-3" appearance="legacy"
                      style="margin-left: 10px; margin-top: 0px; margin-bottom: 3px;">
                      <div style="display: flex; color: gray; margin-top: -10px;">
                        <input matInput ngModel name="{{item.key}}" type="time">
                      </div>
                    </mat-form-field>
                  </div>

                  <div *ngIf="item.input_type == 'scale'" class="uk-width-1-1 uk-margin-small-top uk-margin-bottom">
                    <div style="margin-left: 79px;">
                      <label for=""
                        style="margin-left: -28px; margin-right: 16px; visibility: hidden;">{{item.option[1]}}</label>
                      <div style="display: inline; margin-left: 23px;"
                        *ngFor="let opt of generateArray(item.option[0]); let idx=index">
                        {{idx+1}}
                      </div>
                    </div>
                    <div style="margin-top: 10px;">
                      <label for="" style="margin-left:50px; margin-right: 20px;">{{item.option[1]}}</label>
                      <label *ngFor="let opt of generateArray(item.option[0]); let idx=index">
                        <input class="uk-radio" type="radio" ngModel value="{{opt}}" name="{{item.key}}"
                          style="margin-left: 20px;">
                      </label>

                      <label for="" style="margin-left:50px;">{{item.option[2]}}</label>
                    </div>
                  </div>
                  <!-- date -->
                  <div *ngIf="item.input_type == 'date'" class="uk-width-1-1"
                    style="margin-top: -10px; margin-left: 20px;">
                    <mat-form-field class="uk-width-1-3" appearance="legacy"
                      style="margin-left: 10px; margin-top: 0px; margin-bottom: 3px;">
                      <div style="display: flex; color: gray; margin-top: -10px;">
                        <input matInput ngModel name="{{item.key}}" type="date">
                      </div>
                    </mat-form-field>
                  </div>

                  <div *ngIf="item.input_type == 'file'" class="uk-width-1-2 uk-margin-bottom"
                    style="margin-top: 0px; margin-left: 30px;">
                    <div uk-form-custom="target: true" style="margin-left:0px;">
                      <input type="file">
                      <button mat-stroked-button style="margin-top: 15px; background-color:white; border: 1px solid;">
                        Tambah File
                      </button>
                    </div>
                  </div>

                  <div *ngIf="item.input_type == 'linier'" class="uk-width-1-1 uk-margin-small-top uk-margin-bottom">
                    <label for="" style="margin-left:30px;">Keterangan 1</label>
                    <label *ngFor="let opt of item.option"><input class="uk-radio" type="radio" name="radio1"
                        style="margin-left: 50px;"></label>

                    <label for="" style="margin-left:50px;">Keterangan 5</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 20px; visibility: hidden;">a</div>
      </div>
    </div>
  </ng-container>
</body>

</html>