<html>

<head></head>

<body style="background-image: url(../../../assets/lengkapi_profile/lengkapi-prof-bg.png); background-size: cover;">
  <div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport">
    <div class="uk-card uk-width-1-3@m uk-width-1-2@s" style="background-color: white;">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-expand">
            <h1 class="uk-card-title uk-margin-remove-bottom">Hampir selesai, </h1>
            <h1>satu langkah lagi!</h1>
            <p class="uk-text-small uk-text-bold" style="color: black;">Ayo lengkapi profilemu!</p>
            <p class="uk-text-small" style="color: black; margin-top: -15px;">Data hanya akan digunakan untuk keperluan
              filter
              kuesioner yang akan kamu isi.
            </p>
          </div>

          <div class="uk-width-auto">
            <img width="150" height="150" src="../../../assets/lengkapi_profile/pic1-lengkapi-profile.png">
          </div>

          <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1">
              <label style="font-size: 12px;">Nama Lengkap</label>
              <input class="uk-input" type="text" placeholder="Nama Lengkap" style="border-color: #F9A826;"
                [(ngModel)]="userProfile.name" name="name">
            </div>

            <div class="uk-width-1-1">
              <label style="font-size: 12px;">Username</label>
              <input class="uk-input" type="text" [(ngModel)]="userProfile.username" name='username'
                placeholder="Username" style="border-color: #F9A826;" readonly>
            </div>

            <div class="uk-width-1-2@s">
              <label style="font-size: 12px;">DOB</label>
              <input class="uk-input" ngModel name='birth_date' type="date" placeholder="DOB"
                style="border-color: #F9A826;">
            </div>

            <div class="uk-width-1-2@s">
              <div style="font-size: 12px; margin-top: 6px; padding-bottom: 8px;">Jenis Kelamin</div>
              <label style="font-size: 12px; padding-right: 25px;">
                <input type="radio" value="p" ngModel name="gender">Pria
              </label>

              <label style="font-size: 12px;">
                <input type="radio" value="w" ngModel name="gender">Wanita
              </label>
            </div>

            <div class="uk-width-1-2@s">
              <div class="uk-margin">
                <label style="font-size: 12px;">Pekerjaan</label>
                <select class="uk-select" ngModel name="job" style="border-color: #F9A826;">

                  <option value="dosen">Dosen/Guru</option>
                  <option value="freelancer">Freelancer</option>
                  <option value="irt">Ibu Rumah Tangga</option>
                  <option value="karyawan">Karyawan</option>
                  <option value="mahasiswa">Mahasiswa</option>
                  <option value="pelajar">Pelajar</option>
                  <option value="pebisnis">Pemilik Bisnis</option>
                  <option value="tidakbekerja">Tidak Bekerja</option>
                </select>
              </div>
            </div>

            <div class="uk-width-1-2@s">
              <div class="uk-margin">
                <label style="font-size: 12px;">Domisili</label>
                <select class="uk-select" ngModel name="domicile" style="border-color: #F9A826;">

                  <option value="bali">Bali</option>
                  <option value="belitung">Bangka Belitung</option>
                  <option value="banten">Banten</option>
                  <option value="bengkulu">Bengkulu</option>
                  <option value="gorontalo">Gorontalo</option>
                  <option value="jakarta">Jakarta</option>
                  <option value="jambi">Jambi</option>
                  <option value="jawa">Jawa</option>
                  <option value="kalimantan">Kalimantan</option>
                  <option value="lampung">Lampung</option>
                  <option value="maluku">Maluku</option>
                  <option value="papua">Papua</option>
                  <option value="riau">Riau</option>
                  <option value="sulawesi">Sulawesi</option>
                  <option value="sumatera">Sumatera</option>
                  <option value="yogyakarta">Yogyakarta</option>
                </select>
              </div>
            </div>

            <div class="uk-width-1-1">
              <button class="uk-button uk-width-1-1 uk-text-capitalize"
                style="background-color: #F9A826; color: black;">
                Profile sudah benar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>