<!-- Jika user sudah pernah membuat form -->

<html>

<head></head>

<body>
  <ng-container>
    <div class="uk-width-1-1" style="display: flex;">
      <!-- Toolbar -->
      <div class="uk-width-1-1" style="background-color: white;">
        <mat-toolbar style="background-color:white;">
          <a class="uk-margin-top uk-margin-medium-left" routerLink="/dashboard">
            <img src="../../../assets/FOR FE/Logo.png" alt="" style="width: 3cm; padding-bottom: 20px;">
          </a>
          <div style="margin-left: 470px;">
            <a href="/view-voucher" class="uk-margin-small-top" style="color: black; display: flex; font-size: 12px;">
              <div style="margin-top: 3px;">
                <mat-icon>fast_rewind</mat-icon>
              </div>
              <span>Kembali</span>
            </a>
          </div>
          <div class="uk-width-expand"></div>
          <mat-icon>face</mat-icon>
          <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">Admin</button>
          <mat-menu #username="matMenu">
            <button mat-menu-item routerLink="/profile">Profile</button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </mat-toolbar>
        <!-- End Toolbar -->

        <div class="uk-text-center">
          <h1 class="uk-margin-medium-top">Tambah Hadiah</h1>
          <img src="{{imageUrl}}" alt="" style="width: 120px; height: 120px;">

          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
              <input (change)="fileChange($event)" type="file" accept=".jpg,.png">
              <input class="uk-input uk-form-width-medium" type="text" placeholder="Tambah Foto"
                style="text-align: center; background-color: seagreen; color: white;">
            </div>
          </div>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="uk-margin-top" style="color: black;">
              Nama
            </div>
            <div class="uk-margin-small-top uk-width-1-3 uk-align-center">
              <input name="name" ngModel class="uk-input" type="text"
                style="text-align: center; border-color: black; background-color: white;">
            </div>
            <div class="uk-margin-top" style="color: black;">
              Harga(koin)
            </div>
            <div class="uk-margin-small-top uk-width-1-3 uk-align-center">
              <input name="price" ngModel class="uk-input" type="text"
                style="text-align: center; border-color: black; background-color: white;">
            </div>
            <div class="uk-margin-top" style="color: black;">
              Kode Hadiah
            </div>
            <div class="uk-margin-small-top uk-width-1-3 uk-align-center">
              <input name="code" ngModel class="uk-input" type="text"
                style="text-align: center; border-color: black; background-color: white;">
            </div>

            <div class="uk-margin-top" style="color: black;">
              Cara Penggunaan
            </div>
            <div class="uk-margin-small-top uk-width-1-3 uk-align-center">
              <textarea name="using_step" ngModel class="uk-textarea" rows="5"
                style="border-color: black; background-color: white;"></textarea>
            </div>
            <div class="uk-margin-top" style="color: black;">
              Syarat dan Ketentuan
            </div>
            <div class="uk-margin-small-top uk-width-1-3 uk-align-center">
              <textarea name="terms" ngModel class="uk-textarea" rows="5"
                style="border-color: black; background-color: white;"></textarea>
            </div>

            <div class="uk-margin-top" style="color: black;">
              Berlaku Sampai Tanggal
            </div>
            <div class="uk-margin-small-top uk-width-1-3 uk-align-center">
              <input name="expiry_date" ngModel class="uk-input" type="date"
                style="text-align: center; border-color: black; background-color: white;">
            </div>

            <div class="uk-margin-top uk-margin-large-bottom">
              <button mat-flat-button style="background-color:seagreen; color: white; width:160px">
                Tambah Hadiah
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</body>

</html>