html {
  overflow:   scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

input[type='radio'] {
    -webkit-appearance:none;
    width:12px;
    height:12px;
    border:1px solid whitesmoke;
    border-radius:50%;
    outline:none;
    border-color: #F9A826;
    // box-shadow:0 0 5px 0px gray inset;
  }

  .view-profile-header{
    background-color:#fff8e1;
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 20px;
}

::placeholder {
  color: black
}
  
  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
  }
  input[type='radio']:checked:before {
    background: #F9A826;
  }