<html>

<head></head>

<body
  style="background-image: url(../../../assets/lengkapi_profile/lengkapi-prof-bg.png); background-size: cover; position: fixed; top: 0; bottom: 0;">
  <mat-toolbar class="view-profile-header">
    <div class="uk-width-2-3@s ">
      <img class="uk-width-1-1@m uk-width-1-2@s" src="../../assets/FOR FE/Logo.png"
        style="width: 3cm; margin-left: 20px;" alt="">
    </div>
    <div style="margin-left: -255px;">
      <a href="/dashboard" class="uk-margin-small-top" style="color: black; display: flex; font-size: 12px;">
        <div style="margin-top: 3px;">
          <mat-icon>fast_rewind</mat-icon>
        </div>
        <span>Beranda</span>
      </a>
    </div>
    <div class="uk-width-expand"></div>
    <img src="../../../assets/home/profile-pict.png" style="width: 30px" alt="">
    <button mat-button class="uk-margin-medium-right" [matMenuTriggerFor]="username">{{user.name}}
      <img src="../../../assets/home/expand-icon.png" style="width: 20px" alt="">
    </button>
    <mat-menu #username="matMenu">
      <button mat-menu-item routerLink="/view-profile">Akun Saya</button>
      <button mat-menu-item (click)="logout()">Keluar</button>
    </mat-menu>
  </mat-toolbar>
  <div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport">
    <div class="uk-card uk-width-1-3@m uk-width-1-2@s" style="background-color: white; margin-top: -130px">
      <div class="uk-card-header">

        <div class="uk-grid-small uk-flex-middle" uk-grid>

          <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1" style="margin-top: 15px;">
              <label style="font-size: 12px;">Nama Lengkap</label>
              <input class="uk-input" type="text" placeholder="{{user.name}}" style="border-color: #F9A826;" readonly>
            </div>

            <div class="uk-width-1-1@s">
              <label style="font-size: 12px;">Username</label>
              <input class="uk-input" type="text" placeholder="{{user.username}}" style="border-color: #F9A826;"
                readonly>
            </div>

            <div class="uk-width-1-2@s">
              <label style="font-size: 12px;">DOB</label>
              <input class="uk-input" type="text" placeholder="{{user.birth_date}}" style="border-color: #F9A826;"
                readonly>
            </div>

            <div class="uk-width-1-2@s">
              <div style="font-size: 12px; margin-top: 6px; padding-bottom: 8px;">Jenis Kelamin</div>
              <label style="font-size: 12px; padding-right: 25px;">
                <input disabled type="radio" value="p" name="gender" [(ngModel)]="user.gender">Laki-laki
              </label>

              <label style="font-size: 12px;">
                <input disabled type="radio" value="w" name="gender" [(ngModel)]="user.gender">Perempuan
              </label>
            </div>

            <div class="uk-width-1-2@s">
              <div class="uk-margin">
                <label style="font-size: 12px;">Pekerjaan</label>
                <select [(ngModel)]="user.job" name="job" class="uk-select" style="border-color: #F9A826;">
                  <option value="dosen">Dosen/Guru</option>
                  <option value="freelancer">Freelancer</option>
                  <option value="irt">Ibu Rumah Tangga</option>
                  <option value="karyawan">Karyawan</option>
                  <option value="mahasiswa">Mahasiswa</option>
                  <option value="pelajar">Pelajar</option>
                  <option value="pebisnis">Pemilik Bisnis</option>
                  <option value="tidakbekerja">Tidak Bekerja</option>
                </select>
              </div>
            </div>

            <div class="uk-width-1-2@s">
              <div class="uk-margin">
                <label style="font-size: 12px;">Domisili</label>
                <select [(ngModel)]="user.domicile" name="domicile" class="uk-select" style="border-color: #F9A826;">
                  <option value="bali">Bali</option>
                  <option value="belitung">Bangka Belitung</option>
                  <option value="banten">Banten</option>
                  <option value="bengkulu">Bengkulu</option>
                  <option value="gorontalo">Gorontalo</option>
                  <option value="jakarta">Jakarta</option>
                  <option value="jambi">Jambi</option>
                  <option value="jawa">Jawa</option>
                  <option value="kalimantan">Kalimantan</option>
                  <option value="lampung">Lampung</option>
                  <option value="maluku">Maluku</option>
                  <option value="papua">Papua</option>
                  <option value="riau">Riau</option>
                  <option value="sulawesi">Sulawesi</option>
                  <option value="sumatera">Sumatera</option>
                  <option value="yogyakarta">Yogyakarta</option>
                </select>
              </div>
            </div>

            <div class="uk-width-1-1">
              <button class="uk-button uk-width-1-1 uk-text-capitalize"
                style="background-color: #F9A826; color: black; margin-top: 15px; margin-bottom: 10px;">
                Ubah Profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>