
.beranda-header{
    background-color: white;
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 20px;
}

.beranda{
    color: #fdc400;
}

.masuk:hover{
    color: #fdc400;
}

.daftar{
    padding: 0 23px;
}

.daftar:hover{
    background-color: #fdc400;
    border-color: white;
}

.bg-lp{
    position: relative;
}

.hadiah{
    position: absolute;
    color: black;
    background-color:#fdc400;
    border: none;
    padding: 0;
}

@media (max-width: 1600px) {
    .hadiah {
        width: 16%;
        height: 3%;
        font-size: 19px;
    }
    
}

@media (max-width: 960px) {
    .hadiah {
        width: 16%;
        height: 3.5%;
        font-size: 13px;
    }
    
}

@media(max-width:640px) {
    .hadiah {
        width: 17%;
        height: 4%;
        font-size: 9px;
    }
}

.try-it{
    background-color: #ffeed5;
    height: 70px;
    padding: 65px 0;
}

.try-button{
    background-color:#fdc400 ;
    padding: 5px 0;
}

@media (max-width: 1600px) {
    .try-button {
        font-size: 24px;
        width: 18%;
    }
    
}

@media (max-width: 960px) {
    .try-button {
        font-size: 19px;
        width: 22%;
    }
    
}

@media (max-width: 640px) {
    .try-button {
        font-size: 16px;
        width: 30%;
    }
    
}

.beranda-footer{
    background-color: white;
    padding-top: 70px;
}

@media (max-width: 960px) {
        .beranda-footer {
             font-size: 70%; /* or 2.5em etc, just example */
        }
}

@media (max-width: 640px) {
    .socmed-logo {
        width: 10%;
    }
}

@media (max-width: 960px) {
    .socmed-logo {
        width: 15%;
    }
}

